<% if @sketch.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-sketch">
      Oops, <%= pluralize(@sketch.errors.count, "error") %>.
      <ul>
        <% @sketch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>