<html>

<head>
    <!--     <script type="text/javascript"></script>
    <script language="javascript" crossorigin="anonymous" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script crossorigin="anonymous" language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/attrchange/2.0.1/attrchange.min.js"></script>
    <script crossorigin="anonymous" language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.2/mousetrap.min.js"></script>
    <script language="javascript" crossorigin="anonymous" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stacktrace.js/2.0.0/stacktrace.min.js"></script> -->
    <script crossorigin="anonymous" language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@0.5.16/lib/p5.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.6/processing.min.js" integrity="sha256-NLLibs1jQZNnV59vwp+9dMxTdhKAeqKbl3XzgYzQyso=" crossorigin="anonymous"> -->
    </script>
    <style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    </style>
</head>

<body>
    <script>
    function windowResized() {
        resizeCanvas(windowWidth, windowHeight);
    }
    </script>
</body>

</html>