<html>
  <head>
    <!--     <script type="text/javascript"></script>
    <script language="javascript" crossorigin="anonymous" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script crossorigin="anonymous" language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/attrchange/2.0.1/attrchange.min.js"></script>
    <script crossorigin="anonymous" language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.2/mousetrap.min.js"></script>
    <script language="javascript" crossorigin="anonymous" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stacktrace.js/2.0.0/stacktrace.min.js"></script> -->
    <script crossorigin="anonymous" language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@0.5.16/lib/p5.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.6/processing.min.js" integrity="sha256-NLLibs1jQZNnV59vwp+9dMxTdhKAeqKbl3XzgYzQyso=" crossorigin="anonymous"> -->
  </script>
  <style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
  </style>
</head>
<body>
  <script>
    <% colors = (1..10).map { |e| '#' << FFaker::Color.hex_code } %>
    
    let particles = [];
    let pallete = <%= raw colors %>;
    // let pallete = ["#ffffff", "#e01a4f","#f15946","#f9c22e","#53b3cb"];
    
    function setup() {
      createCanvas(windowWidth, windowHeight);
      rectMode(CENTER);
      newParticles();
      frameRate(30);
    }
    
    
    function draw() {
      for(let i=0; i<particles.length; i++){
    particles[i].run();
    if(particles[i].isDead()){
    particles.splice(i, 1);
    }
      }
      if(particles.length == 0){
    newParticles();
      }
    }
    
    function newParticles(){
      background(0);
      shuffle(pallete, true);
      noiseSeed(int(random(100000)));
      for(let i=0; i<10000; i++){
    particles.push(new Particle(random(-0.5, 1.5)*width, random(-0.5,1.5)*height));
      }
    }
    
    class Particle{
      constructor(x, y){
       this.x = x;
       this.y = y;
    this.s = 0;
    this.noiseScale = 0.002;
    this.num1 = map(noise(this.x*this.noiseScale, this.y*this.noiseScale), 0, 1, -3.5, 8);
    this.num2 = int(constrain(this.num1, 0, pallete.length - 1));
    this.col = color(pallete[this.num2]);
    this.nn = 0;
    this.life = random(800, 1000);
      }
    
      show(){
    noStroke();
    fill(this.col);
    // rect(this.x, this.y, this.s, this.s);
    ellipse(this.x, this.y, this.s)
      }
    
      move(){
    let maxS = map(this.life, 1000, 0, 20, 0);
    let angle = noise(this.x*this.noiseScale, this.y*this.noiseScale, this.nn)*<%= raw rand * 50 %>;
    this.x += cos(angle);
    this.y += sin(angle);
    this.s = noise(this.x*0.05, this.y*0.05, this.nn)*maxS;
    this.nn += 0.0005;
    this.life --;
      }
    
      isDead(){
    if(this.life < 0){
      return true;
    }else{
      return false;
    }
      }
    
      run(){
    this.show();
    this.move();
      }
    }
    
    function windowResized() {
      resizeCanvas(windowWidth, windowHeight);
    }
  </script>
</body>
</html>