<% provide(:title, @sketch.title) %>
<section class="render">
  <div class="render-nav">
    <%= render partial: 'sketches/show_partial/navbar' %>
  </div>
  <div class="render-tab-wrapper bg-dark9">
    <!--  -->
    <div class="render-tab" id="copyrightTab">
      <%= render partial: 'sketches/show_partial/cover' %>
    </div>
    <!--  -->
    <div class="render-tab" id="frameTab">
    </div>
    <!--  -->
    <div class="render-tab" id="editorTab">
      <%= render partial: 'sketches/show_partial/editor', locals: { codes: @sketch.codes } %>
    </div>
  </div>
</section>
<script>
  $(function() { window.app.init(); })
</script>