// config
$header-background-color: #fff;
$header-background-color-mobile: #111;
$header-text-color: #fff;
$header-mobile-link-color: #fff;
$home-hero-background-color: transparent;
$home-hero-background-color-mobile: #ff1744;
$home-hero-text-color: #fff;