<div class="d100 py-lg-3 px-lg-4 p-2">
  <h6 class="blog-date">Fri Dec 14. kuyenda</h6>
  <h2 class="font-weight-bold text-right mb-0">简易指南</h2>
  <div class="row header-image mb-3">
  </div>
  <h3>什么是草图</h3>
  <p class="lead">
    所谓草图是利用p5.j​​s框架和JavaScript语言编写的程式集合。p5致力于使编写复杂程序的过程变得简单。 艺术家，设计师，教育者，初学者以及其他任何人都可以轻松学习！因此您也无需为不具备编程知识而感到困惑。p5拥有一整套绘图功能。您也可以将整个浏览器页面作为草图，渲染文本，输入，视频，摄像头和声音。
  </p>
  <h6>入门</h6>
  <ul>
    <li>
      <%= link_to "p5 官方教程", "https://p5js.org/zh-Hans/get-started/" %>
    </li>
    <li>
      <%= link_to "p5 中文文档", "https://p5js.org/zh-Hans/reference/" %>
    </li>
  </ul>
</div>