<div class="d100 py-lg-3 px-lg-4 p-2">
  <p>
    利用p5框架和JavaScript语言编写程式集合。 p5致力于使编写复杂程序的过程变得简单。 艺术家，设计师，教育者，初学者以及其他任何人都可以轻松学习！因此您也无需为不具备编程知识而感到困惑。p5拥有一整套绘图功能。您也可以将整个浏览器页面渲染文本，输入，视频，摄像头和声音。
  </p>
  <%= link_to "p5 官方教程", "https://p5js.org/zh-Hans/get-started/" %>
  <%= link_to "p5 中文文档", "https://p5js.org/zh-Hans/reference/" %>
</div>