<section class="enrique">
  <form id="sketchForm">
    <input id="sketchConfig" type="hidden" name="config" value="">
  </form>
  <iframe class="enrique-sketch" src="<%= page_path('example') %>" frameborder="0">
  </iframe>
  <div class="enrique-m">
    <% if !logged_in? %>
      <div class="enrique-primary">
        <h1 class="enrique-heading">
        </h1>
        <div>
          <h3 class="enrique-paragraph ffht">
          </h3>
          <div class="enrique-button-group ffht">
          </div>
        </div>
      </div>
    <% end %>
    <% if !logged_in? %>
      <div class="enrique-secondary">
        <p class="m-0 fw7"></p>
      </div>
    <% end %>
  </div>
  <div class="enrique-attribution">
    <a href="#" class="link link-underline-light glow fw6">おかず</a>
  </div>
  <div class="spinner absolute p-2 z-9">
    <div class="sk-cube-grid" style="--sk-size:40px;--sk-color:#fff">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
</section>