<div id="render-config">
  <a href="#" data-switch="#render-config", data-by="active", style="position: absolute;left: 0;top: 0;transform: translateX(-100%);">
    <ion-icon name="ellipsis-vertical" class="icon icon-white" style="display: block;width: 25px;height: 25px;padding: 5px;"></ion-icon>
  </a>
  <%= render partial: 'sketches/configs/nav' %>
  <div class="render-config-tab-wrapper">
    <div class="render-config-tab" id="configSketch">
      <%= render partial: 'sketches/configs/sketch' %>
    </div>
    <div class="render-config-tab" id="configEditor">
      <%= render partial: 'sketches/configs/editor' %>
    </div>
    <div class="render-config-tab" id="configData">
      <%= render partial: 'sketches/configs/data' %>
    </div>
  </div>
</div>