<!-- <script>
  [].forEach.call($$("*"),function(a){
  a.style.outline="1px solid #"+(~~(Math.random()*(1<<24))).toString(16)
  })
</script> -->
<script>
  $(document).ready(function() {
    $('#darkModeButton').click(function(event) {
      /* Act on the event */
      var darkmode =  new Darkmode();
      darkmode.toggle();
      console.log(darkmode.isActivated()) // will return true
    });
  });
</script>
<div class="container white p-3" style="margin-top: 100px;">
  <div class="row p-2">
    <div class="col">
      <p class="m-0 b gray4"><%= @sketch.digest %> Post (<%= time_ago_in_words(@sketch.created_at) %>)</p>
      <h1>
        <%= @sketch.title %><span class="h2"></span>
      </h1>
      <hr class="b-gray5">
    </div>
  </div>
  <div class="row">
    <div class="col text-left">
      <button type="button" class="btn btn-primary">分享二维码</button>
      <button id="darkModeButton" type="button" class="btn btn-success">夜间模式</button>
      <%= debug(@sketch) %>
    </div>
  </div>
</div>