<div class="container white p-3" style="margin-top: 100px;">
  <div class="row">
    <div class="col">
      <p class="m-0 b gray4 badge badge-secondary">
        <button type="button" class="btn btn-primary">分享二维码</button>
        <button id="darkModeButton" type="button" class="btn btn-success">夜间模式</button>
        <button type="button" class="btn btn-info">文档</button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="underline">
        <%= @sketch.title %>
      </h1>
      <p>
        <% if @sketch.description.present? %>
          <%= @sketch.description %>
        <% else %>
          ...
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= debug(params) %>
    </div>
  </div>
</div>