<div class="dark" id="editorBar" style="position: relative;height: 35px;width: 100%;background: #222;border-bottom: 1px solid #fff">
  <div class="btn-group btn-group-toggle" data-toggle="buttons" style="height: 100%">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked><%= codes[0].filename %>
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off">+
    </label>
  </div>
</div>
<div id="editor" style="height: calc(100% - 35px)"></div>
<%= render partial: 'sketches/render/config' %>