<div class="side-editor" id="#resizable">
  <div class="row toolbar">
    <div class="tool-options">
      <button id="toggleTextOutput" class="sr-only">toggle text output</button>
      <button id="copyButton" class="btn ebtn transparent">
        <i class="icon36 i--hv i--green ion-md-copy"></i>
        copy</button>
      <button id="resetButton" class="btn ebtn transparent">
        <i class="icon36 i--hv i--green ion-md-refresh"></i>
        reset
      </button>
      <button id="saveButton" class="btn ebtn transparent">
        <i class="icon36 i--hv i--green ion-md-save"></i>
        save</button>
      <button id="optionsButton" class="btn ebtn transparent" data-switch="#sketchConfigPanel" data-by="active">
        <i class="icon36 i--hv i--green ion-md-cog"></i>
        options</button>
    </div>
  </div>
  <div class="row editor">
    <div class="col p-0">
      <div id="exampleEditor">
      </div>
    </div>
  </div>
  <div class="editor-options">
  </div>
</div>