<div class="row frame">
  <iframe src="/box" id="#frame" frameborder="0" class="frame-win col p-0">
  </iframe>
  <div class="frame-mobile-options">
    <a id="runButton-m" class="icon -md36 ion-md-refresh"></a>
    <%= link_to "", sketches_path, class:'icon36 i--hv ion-md-arrow-round-back' %>
  </div>
</div>