<div id="sketchConfigPanel">
  <ul role="tablist" class="nav nav-tabs">
    <li>
      <a href="#editor-options" data-toggle="tab" aria-controls="editor-options">Editor</a>
    </li>
    <li>
      <a href="#sketch-options" data-toggle="tab" aria-controls="sketch-options">Sketch</a>
    </li>
    <li>
      <a href="#storage-options" data-toggle="tab" aria-controls="storage-options">Storage</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="editor-options" class="tab-pane">
      <div class="row">
        <div class="col-6">
          <h6>Text Size</h6>
        </div>
        <div class="col-6">
          <input id="textSizeSlider" type="range" min="12" max="36" step="2" value="16">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h6>Theme</h6>
        </div>
        <div class="col-6">
        </div>
      </div>
    </div>
    <div id="sketch-options" class="tab-pane">
      <h6>Experimental features</h6>
      <i class="icon36 i--hv ion-md-flask"></i>
    </div>
    <div id="storage-options" class="tab-pane">
      <h6>Experimental features</h6>
      <i class="icon36 i--hv ion-md-flask"></i>
    </div>
  </div>
</div>