<li id="topic-<%= topic.id %> list-group-item list-group-item-action">
  <span class=""><%= topic.content %></span>
  <span class="profile-topics-timestamp">
    在<%= time_ago_in_words(topic.created_at) %>前说
  </span>
</li>