<li id="topic-<%= topic.id %> list-group-item list-group-item-action">
  <span class="content"><%= topic.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(topic.created_at) %> ago.
  </span>
</li>