//--------------------------------------------------------------------------
// ● 边框
//--------------------------------------------------------------------------
@each $key,
$var in ("t":top, "r":right, "b":bottom, "l":left) {
    .b#{$key}0 {
        border-#{$var}-width: 0
    }

    .b#{$key} {
        border-#{$var}-width: 1px;
        border-#{$var}-style: solid;
    }
}

// 清除
.bn {
    border-style: none;
    border-width: 0
}

.ba {
    border-style: solid;
    border-width: 1px
}

// 大小、圆角
@each $key,
$var in ("0":0, "1":.125, "2":.25, "3":.5, "4":1, "5":2) {
    .br#{$key} {
        border-radius: #{$var}rem;
    }

    .bw#{$key} {
        border-width: #{$var}rem;
    }
}

// 样式
@each $var in (dotted, dashed, solid, double, none) {
    .b#{$var} {
        border-style: #{$var};
    }
}