<div class="tab-pane fade" id="topics">
  <h3>话题(<%= @user.topics.count %>)</h3>
  <div class="profile-topics row">
    <% if logged_in? %>
      <aside class="col-md-3">
        <section class="micropost_form">
          <%= render 'users/profile/post/topic' %>
          flash_message 
        </section>
      </aside>
    <% end %>
    <% if @user.topics.any? %>
      <div class="col">
        <ol class="topics list-group list">
          <%= render @topics %>
          <div class="digg_pagination">
            <%= will_paginate @topics %>
          </div>
        </ol>
      </div>
    <% end %>
  </div>
</div>