<section id="createGroup" class="row center-modal">
  <div class="pt-3 pb-4 px-2 px-md-4 br2 bw1 b--solid shadow-3" style="width: 450px;">
    <h1 class="text-center mt-3">Create
      <a href="#" data-switch="#createGroup" data-by="open">
        <i class="icon36 i--hv ion-md-close ml-2"></i>
      </a>
    </h1>
    <%= render partial: 'sketches/forms/creation', object: Sketch.new %>
  </div>
</section>