<section id="editGroup" class="center-modal">
  <div class="pt-3 pb-4 px-md-4 br2 bw1 b--solid shadow-3" style="width: 450px;">
    <h1 class="text-center mt-3"><%= @sketch.digest  %>
      <a href="#" data-switch="#editGroup" data-by="open">
        <ion-icon item-start name="close"></ion-icon>
      </a>
    </h1>
    <%= render partial: 'sketches/forms/edition', object: @sketch %>
  </div>
</section>