// config
$header-textColor: #1c1c1c;
$header-navbarColor: #fff;
$header-logo: #3f51b5;

$header-mobile-iconColor: $header-textColor;
$header-mobile-hamb: $header-textColor;
$header-mobile-menuColor: #3f51b5;
$header-mobile-menuItem: darken($header-navbarColor, 10);

.hnavbar {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $header-navbarColor;
    border-bottom: 1px solid;
    // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.hnavbar-grow {
    height: 100%;
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
}

.hnavbar-brand {
    display: inline-flex;
    align-items: center;

    a {
        font-size: 1.1rem;
        font-weight: 700;
        color: $header-logo;
    }

    .nav-version {
        margin-left: 5px;
        padding: 1px 5px;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 600;
        color: #868b95;
        background-color: #ecf0f6;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.hnavbar-search {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 690px;

    input {
        flex-grow: 1;
        margin: 0 16px;
        height: 32px;
        background-color: #f6f7f8;

        @include media-breakpoint-down(md) {
            // width: auto
        }
    }
}

.hnavbar-menu {
    display: inline-flex;
    align-items: center;
    flex-grow: 0;
    @include transition(1, ease);

    .btn-hnavbar {
        margin: 0 4px;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 3px 16px;

        @include media-breakpoint-up(md) {
            width: 120px;
        }
    }
}