<section class="container bg-dark1">
  <div class="row bg-red white">
    <div class="col pt-3 ht3">
      <h1>
        <%= @user.name %>
      </h1>
    </div>
  </div>
  <div class="row p-5 justify-content-center" style="min-height: 100vh">
    <div class="col">
      <p>
        <%= @user.methods %>
      </p>
      <%= gravatar_for @user %>
    </div>
  </div>
</section>