<div class="container" style="background: #eee">
  <div class="row p-5 justify-content-center" style="min-height: 100vh">
    <aside class="col">
      <h1>
        <%= @user.name %>
      </h1>
      <%= gravatar_for @user %>
    </aside>
  </div>
</div>