/*******************************
● 边框
*******************************/
$xBound: ("0": 0,
"1":.125,
"2":.25,
"3":.5,
"4":1,
"5":2);

@include xBaseMedia using ($media) {
    .x {
        &.bound {

            // Width
            @each $key,
            $var in ("top": "-top", "right":"-right", "bottom":"-bottom", "left":"-left", "width":null) {

                @each $wkey,
                $wvar in $xBound {
                    &.#{$key}#{$wkey} {
                        border#{$var}-width: #{$wvar}rem;
                    }
                }
            }

            // Radius
            @each $key,
            $var in $xBound {
                &.radius#{$key} {
                    border-radius: #{$var}rem;
                }
            }

            // Style
            @each $var in (dotted, dashed, solid, double, none) {
                &.#{$var} {
                    border-style: #{$var};
                }
            }

        }

        // Clear
        &.nobound {
            border-style: none !important;
            border-width: 0 !important;
        }
    }
}