<h2 class="x header">
  <%= bootstrap_icon "bootstrap-fill", width: 100, height: 100 %>
  Bootstrap
  <p class="x header lead font size6">
    Go check:
    <a href="https://icons.getbootstrap.com/?#icons" class="x link dim">https://icons.getbootstrap.com/?#icons</a>
  </p>
</h2>
<div class="x header divider"></div>
<p class="gray02">For the first time ever, Bootstrap has its own icon library, custom designed and built for our components and documentation—and now available for any project.</p>