<h2 class="blueh">命名规范</h2>
<p>样式命名请参考下面描述的基本规则，区别其他框架</p>
<ul class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">复合类以x. 开始</h5>
      <small>注解具体解释</small>
    </div>
    <p class="mb-1"></p>
    <small>x.header.block</small>
  </a>
  <a class="list-group-item list-group-item-action">仅允许数字和小写字母，禁止包含-_等符号</a>
  <a class="list-group-item list-group-item-action">请将选择器置顶或者置后</a>
  <a class="list-group-item list-group-item-action">后缀刻度用于表述强度</a>
  <a class="list-group-item list-group-item-action">后缀媒体用于表述响应式</a>
</ul>