<h2 class="blueh">命名规范</h2>
<p>下列基本规则使得样式命名和其他框架有些许直观的区别，也体现了我们的选择和审美</p>
<ul class="list-group list-group-flush">
  <li class="list-group-item">使用目标的最短表述</li>
  <li class="list-group-item">禁止包含-_等符号，只允许数字和小写字母</li>
  <li class="list-group-item">某些名称将以完整解释来命名，比如<code>underline</code></li>
  <li class="list-group-item">如果包含级别数字，0表示与之相对相反的功能</li>
</ul>