<h2 class="x header">
  what's the differences bewteen .a.b and .a .b?
</h2>
<div class="x header divider"></div>
<ul>
  <li>
    <p>Selector start with dot</p>
    <p><code>.class_name</code> signifies class name</p>
  </li>
  <li>
    <p>Two doted selector separated by space</p>
    <p><code>.outside</code> <code>.inside</code></p>
    <p>means element with <code>.inside</code> class descended from an element with class <code>.outside</code> </p>
  </li>
  <li>
    <p>Two doted selector without separation</p>
    <p><code>.name1.name2</code> </p>
    <p>means element that has both class <code>name1</code> and <code>name2</code>
      eg: <code>class="name1 name2"</code></p>
  </li>
</ul>