<footer class="footer">
  <div class="footer-in">
    <section class="footer-navbar">
      <ul class="footer-nav">
        <li><a href="/sketches">程式库</a></li>
        <li><a href="/topics">帖子</a></li>
      </ul>
      <ul class="footer-inav">
        <a href="https://github.com/kuyenda/splash" data-toggle="tooltip" data-placement="top" title="克隆项目">
          <ion-icon name="git-branch-outline">
          </ion-icon>
        </a>
        <a href="/" data-toggle="tooltip" onclick="return false;" data-placement="top" title="基于Rails<%= Rails.version %>">
          <ion-icon name="information-circle-outline">
          </ion-icon>
        </a>
      </ul>
    </section>
  </div>
</footer>