<footer class="container-fluid bg-dark9 white px-5 py-3">
  <div class="row py-2 f3">
    <div class="col text-left">
      <p class="mb-0">该网站由<span class="b">@kuyenda</span>支持，保留所有权利。</p>
    </div>
  </div>
</footer>