<footer class="footer">
  <div class="footer-inner">
    <section class="footer-link-wrapper">
      <div class="footer-link-group">
        <ul>
          <li><a href="/sketches" class="footer-link">草图</a></li>
          <li><a href="/topics" class="footer-link">话题</a></li>
          <li><a href="#" class="footer-link">反馈</a></li>
        </ul>
      </div>
    </section>
    <section class="footer-social">
      <span>
        DOKENSOFT ©2020
      </span>
    </section>
  </div>
</footer>