<footer class="container-fluid px-5 py-3 bgblack90 white">
  <div class="row row-cols-1 py-2">
    <div class="col-10 x text left">
      <span class="x font size6">
        <%= bootstrap_icon "at" %>
        kuyenda 2020，保留所有权利。</span>
    </div>
  </div>
</footer>