<script>
  $(document).ready(function() {
    $('#directoryList').find('a').removeClass().addClass('x link o40 glow');
    $('#directoryList').find(`a[href="${location.href}"]`).removeClass().addClass('dark primary1h');
  });
</script>
<% DocumentsController::DOC_MAP.keys.each do |header|  %>
  <div class="ml-2 mb-3">
    <strong class="p-1 px-2 x font bold gray02"><%= header %></strong>
    <ul class="list-unstyled">
      <% DocumentsController::DOC_MAP[header].each do |doc|  %>
        <li>
          <% if doc[:href] == @id %>
            <%= link_to(doc[:text], document_url(doc[:href]) , class: "d-inline-block w-100 rounded p-1 px-2 x transformed bgblack05h primary") %>
          <% else %>
            <%= link_to(doc[:text], document_url(doc[:href]) , class: "d-inline-block w-100 rounded p-1 px-2 x transformed bgblack05h lead02") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>