// *CONFIG*
$footer-backgroundColor: #2f3542;
$footer-Color-i: transparent;
$footer-Color-link: hsl(0, 0, 100% - lightness($footer-backgroundColor));
$footer-Color-hyper: lighten($footer-Color-link, 25);

@if lightness($footer-backgroundColor)>.5 {
    $footer-Color-i: lighten($footer-backgroundColor, 20%);
}

@if lightness($footer-backgroundColor)<=.5 {
    $footer-Color-i: darken($footer-backgroundColor, 20%);
}

.footer {
    width: 100%;
    overflow: hidden;
}

.footer-in {
    // max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
    color: $footer-Color-link;
    background: $footer-backgroundColor;
}

// 1 - NAVBAR
.footer-navbar {
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    @include media-breakpoint-down(md) {
        max-width: 99%;
        padding: 20px 15px;
    }
}

.footer-nav {
    margin: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
        float: left;
        margin: 0 3px;

        @include media-breakpoint-down(sm) {
            // padding: 5px;
            // margin-bottom: 3px;
            font-size: 15px;
        }
    }

    a {
        display: block;
        font-size: 28px;
        border-color: darken($footer-backgroundColor, 5%);
        border-style: dashed;
        border-width: 5px;
        color: $footer-Color-link;
        @include et-transition(2, .3s);

        &:hover {
            background-color: adjust-hue($footer-backgroundColor, 90);
            border-top-color: transparent;
            border-bottom-color: transparent;
            color: $footer-Color-hyper;
        }
    }
}

// 2 - RAILS VERSION
.footer-inav {
    margin: 0;
    padding-left: 0;
    list-style: none;
    flex-grow: 1;

    a {
        float: right;
        display: inline-block;
        height: 100%;
        margin: 0 5px;
        color: $footer-Color-i;
        font-size: 28px;
        line-height: 28px;

        @include et-transition(1, 1s);

        @include media-breakpoint-down(sm) {
            margin: 0 2px;
            font-size: 1.5rem;
            clear: both;
        }

        &:hover {
            color: lighten($footer-Color-i, 25%);
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-top: 20px;
    }

}