<!DOCTYPE html>
<head>
  <%= javascript_include_tag "p5" %>
  <%= javascript_include_tag "example_window" %>
  <style>
    html,
    body {
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: white;
    }
    
    .p5 {
        width: 100%;
        min-height: 500px;
    }
  </style>
</head>
<body>
</body>
</html>