<div class="examples-container">
  <div class="examples-panel-wrap">
    <div class="examples-panel">
      <div>
        <h5>开始创建P5.js程式库</h5>
        <p>你可以点击新建，来创建一个新的数据，我们将长期保存在列表中</p>
        <div class="btns mt-md-3 mt-sm-2 mb-md-3">
          <a class="btn ebtn ruby mx-3" href="/examples/new">
            新建
          </a>
          <a class="btn ebtn ruby mx-3" href="/examples/help">
            阅读指南
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="examples">
    <% @example.each do |e| %>
      <div class="example-item">
        <div class="example-shot">
          <%= link_to "", e, class:'example-link' %>
          <span class="example-date"><%= e.created_at.ctime %>
          </span>
        </div>
        <div class="example-name">
          <h6 class="example-title"><%= e.title %></h6>
          <h6 class="example-id"><%= e.digit %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>