<div class="d116">
  <div class="container">
    <div>
      <h1>Examples#show</h1>
      <p>Find me in app/views/examples/show.html.erb</p>
    </div>
    <div class="row">
      <%= @example.title %>, <%= @example.url %>
    </div>
  </div>
</div>