// debuging
.alert {}

.field_with_errors {
    @extend .is-valid;

    input {
        border: 1px dashed #1b5e2068 !important;
        @include transition(1);

        &:hover {
            border-color: #1b5e20 !important
        }
    }
}

.debug_dump {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    color: #ffeaa7;
    background: #2d3436;
}

.center-modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: -1;
    opacity: 0;
    @include et-transition(1, .5s);

    &.open {
        opacity: 1;
        z-index: 999;

    }
}