.d112 {
    .color {
        width: 5.263157895%;
        height: 500px;
        float: left;
        position: relative;
        cursor: pointer;
    }

    .color .color__name {
        transform: rotate(-90deg);
        transform-origin: 0 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        font-weight: 300;
        text-transform: uppercase;
        width: 200px;
    }

    .color .color__shade {
        position: relative;
    }

    .color .color__strength {
        user-select: none;
        font-size: 9px;
        position: absolute;
        left: 5%;
        font-weight: 400;
        top: 5%;
    }

    .color .color__hex {
        font-size: 9px;
        position: absolute;
        right: 5%;
        font-weight: 400;
        bottom: 5%;
    }

    .container-fluid {
        max-width: 1200px;
        margin-top: 200px;
    }

    .row {
        color: #222;
        padding: 2rem;
        margin: 0px 0px 15px 0px;
        border-radius: .2rem;

        &:nth-child(odd) {
            color: #fff;
            background: #2d3436;
        }

        &:nth-child(even) {
            color: #fff;
            background: #004d40;
        }

        &.nop {
            padding: 0;
            background: transparent;

            div[class*=col] {
                padding: 0;
            }

        }

    }

    @include media-breakpoint-down(md) {
        .row {
            padding: 10px;
        }

        .container-fluid {
            margin-top: 20px;
        }
    }
}


.d100 {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 95px;
    padding-bottom: 60px;
    background: #fafafa;
    font-family: Steradian;
    box-shadow: 0px 2px 0 #0006;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h1 {
        letter-spacing: -.03em;
        color: #171c24;
    }

    p {
        color: #3c4b62;
        letter-spacing: 0;
    }

    .d100-date {
        color: #78909c;
        text-align: right;
        margin: 0;
    }

}