.alert {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            margin-top: .2em;
        }

    }

    .alert-form {
        max-width: 320px;
        background: transparent;
        text-align: left;

    }

}



.field_with_errors {
    @extend .is-valid;

    .form-control {
        color: #ee2233;
    }

}

.debug_dump {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background: #dc143c;
    padding: 10px 20px;
    color: #fff;
}

.center-modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: -1;
    opacity: 0;
    @include et-transition(1, .5s);

    &.open {
        opacity: 1;
        z-index: 999;

    }
}