#error_explanation {
    color: #ee2233;

    .alert-danger {
        background: #fff;
        border-color: transparent;
    }

    ul {
        color: #ee2233;
        margin: 0 0 30px 0;
    }

}

.field_with_errors {
    @extend .is-valid;

    .form-control {
        color: #ee2233;
    }

}

.alert {
    margin: 0;
}