.md-page {
    background: #fff;
    padding: 25px;
    margin-top: 33px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    font-size: 16px;
}

.d116 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hack';

    .container {
        max-width: 1200px;
        margin-top: 200px;

        &.no-margin {
            margin-top: 50px;
        }

    }

    .row {
        background: #eee;
        padding: 1rem;
        margin: 0px 0px 15px 0px;
        border-radius: .2rem;
        overflow: hidden;

        .data-col {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 20px 20px 12px;
            border-radius: .2rem;
            height: 300px;
            position: relative;
            overflow: hidden;
        }

        .data-title {
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            padding: 10px;
            color: #fff;
            background: #000;
            text-align: center;
            border: 1px solid #fff;
            border-width: 1px 0px 0px 1px;
        }

        .data-info {
            position: absolute;
            top: 51px;
            left: 0;
            padding: .25rem;
            margin-bottom: .25rem;
            color: #444;
            background: #eee;
        }

        .data-link {
            color: #fff;
            background: #000;
            text-decoration: none;
            padding: 10px;
            border-radius: .25rem;
            @include et-transition(1, .5s);

            &:hover {
                padding: 10px 20px;
            }

        }

        &.dark {
            background: #000;
            color: #fff;
        }

        &.colored {
            &:nth-child(odd) {
                background: #2C3A47;
            }

            &:nth-child(even) {
                background: #40407a;
            }

        }

        &.nop {
            padding: 0;
        }

        &.toolbar {
            background: #2C3A47;
        }

        &.image {
            &:before {
                content: '';
                background-image: url('/assets/celeste.jpg');
                background-position: center 20%;
                background-size: cover;
                width: 100%;
                height: 200px;
            }

        }

    }

    form {
        margin: 0 auto;
        padding: 80px 40px;
        position: relative;
        background: linear-gradient(180deg, #2f3640, #353b48);
        color: #fff;
        text-align: center;
        border-radius: .2rem;

        input[type='text'],
        input[type="password"],
        input[type='submit'],
        textarea {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #0984e3;
            padding: 14px 10px;
            width: 300px;
            outline: none;
            color: #fff;
            border-radius: 24px;
            @include et-transition(1, 1s);

            &:hover {
                width: 400px;
            }

        }

        input[type='submit'] {
            border: 2px solid #52FF83;
            padding: 14px 18px;
            width: 200px;

            &:hover {
                width: 200px;
                color: #222;
                background: #52FF83;
            }

        }

        .form-tool {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            background: #00a8ff;

            a {
                text-decoration: none;
                color: #fff;
            }

        }

    }

    input,
    textarea,
    select,
    .uneditable-input {
        width: 100%;
        margin-bottom: 8px;
    }

}

.d112 {
    font-family: 'Steradian';

    .container-fluid {
        max-width: 1200px;
        margin-top: 200px;
    }

    .row {
        color: #222;
        padding: 2rem;
        margin: 0px 0px 15px 0px;
        border-radius: .2rem;

        &:nth-child(odd) {
            color: #fff;
            background: #2d3436;
        }

        &:nth-child(even) {
            background: #FFD700;
        }

        &.nop {
            padding: 0;
            background: transparent;

            div[class*=col] {
                padding: 0;
            }

        }

    }

    .alphabet {
        font-size: 3rem;
        font-weight: 500;
        padding: 20px;
        background: #FFD700;
        color: #1a1a1a;
    }

}

.frame-row {
    margin: 0px 0px 15px 0px !important;
    padding: 0 !important;

    .frame-col {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

}

#exampleEditor {
    min-height: 500px;
}

#exampleFrame {
    min-height: 500px;
}

#error_explanation {
    color: #ee2233;

    ul {
        color: #ee2233;
        margin: 0 0 30px 0;
    }

}

.field_with_errors {
    @extend .is-valid;

    .form-control {
        color: #ee2233;
    }

}