@each $index,
$color in $colors {
    .btn-#{$index} {
        color: contrast($color) !important;
        background: $color;

        &:hover {
            background: darken($color, 5);
        }
    }
}