/* Sketch Container */
.examples-container {
    font-family: Steradian;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0px 0px 0px;
    padding: 95px 30px 40px 30px;
    background: #fafafa;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
    min-height: calc(100vh - 60px);
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

    .examples-panel-wrap {
        z-index: 1;
        max-width: 300px;
        flex-basis: 40%;
        width: 40%;
        padding: 2rem;

        .examples-panel {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            border-radius: .5rem;
            padding: 20px 20px;
            color: #fff;
            background: #1b5e20;
            box-shadow: 4px 3px 0px 0px #00000029;
        }

    }

    .examples {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        max-width: 1200px;
        border-radius: .5rem;
        background: #1b5e20;
        background-image: asset-url('texture.svg');
        box-shadow: 4px 3px 0px 0px #00000029;

        .example-item {
            margin: 0 15px 30px 15px;
            width: calc(25% - 30px);
            max-width: 240px;
            min-width: 240px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            border-radius: .25rem .25rem .25rem .25rem;
            box-shadow: 4px 3px 0px 0px #00000029;
            @include et-transition(0, .25s);

            .example-shot {
                width: 100%;
                height: 120px;
                overflow: hidden;
                position: relative;
                background: #222;
                border-radius: .25rem .25rem 0 0;

                .example-link {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    bottom: 30px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 20px;
                    line-height: 2;
                    box-sizing: border-box;
                    text-decoration: none;
                    padding: 10px;
                    z-index: 1;
                    @include et-transition(0, .25s);
                }

                .example-date {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    margin-bottom: .25rem;
                    font-size: 30px;
                    font-weight: 900;
                    color: #fff;
                    padding: 10px;
                    user-select: none;
                    z-index: 0;
                    @include et-transition(0, .25s);
                }

                .example-options {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: #fff;
                    width: 100%;
                    height: 0%;
                    display: flex;
                    justify-content: flex-end;
                    padding: 0;
                    z-index: 2;
                    @include et-transition(0, .25s);

                    span {
                        line-height: 20px;
                    }

                    i {
                        padding-left: 15px;
                        color: #555;
                    }

                }

                &:hover {
                    .example-options {
                        padding: 10px 10px 0 10px;
                        height: 40px;
                    }

                }

            }

            .example-name {
                width: 100%;
                position: relative;
                background: #fff;
                padding: 8px;
                border-radius: 0 0 .25rem .25rem;

                .example-title {
                    color: #2d3436;
                    margin-bottom: 2px;
                    font-size: 18px;
                    @include et-transition(0, .25s);
                }

                .example-id {
                    margin: 0;
                    color: #bbb;
                    font-size: 15px;
                    font-weight: 800;
                    @include et-transition(0, .25s);
                }

            }

        }

    }

    @include media-breakpoint-down(lg) {
        flex-wrap: wrap;

        .examples-panel-wrap {
            order: -1;
            flex-basis: 100%;
            width: 100%;
            padding: 0rem;
        }

    }

    @include media-breakpoint-down(md) {
        padding: 0px;

        .examples-panel-wrap {
            display: none;
        }

        .examples {
            flex-basis: 100%;
            width: 100%;
            padding: 60px 15px 15px 15px;
            border-radius: 0;

            .example-item {
                min-width: 300px;
                max-width: 300px;

                .example-shot {
                    height: 100px;

                    .example-date {
                        font-size: 25px;
                    }

                }

                .example-name {
                    .example-title {
                        font-size: 15px;
                    }

                    .example-id {
                        font-size: 12px;
                    }

                }

            }

        }

    }

}

/* Sketch */
.example-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 800px;
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 60px;
    overflow: hidden;

    &.help-page {
        width: auto;
        max-width: 800px;
        background: #fafafa;
        display: block;
        font-family: Steradian;
        margin-top: 150px;
        margin-bottom: 150px;
        box-shadow: 0px 2px 0 #0006;

        @include media-breakpoint-down(sm) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        h1 {
            letter-spacing: -.03em;
            color: #171c24;
        }

        p {
            color: #3c4b62;
            letter-spacing: 0;
        }

        .blog-date {
            color: #78909c;
            text-align: right;
            margin: 0;
        }

    }

    &.frame-page {
        width: 100%;
        height: 100vh;
        padding: 0;
        flex-direction: row;
        align-items: flex-start;
        background: #555;
        min-height: 0;
        max-height: 100vh;
        position: relative;

        .sketch-info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 3vw;
            opacity: 0;
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Steradian;
            color: #fff;
            background: #3B3B3B;
            overflow: hidden;
            @include et-transition(1, .5s);

            &.open {
                padding: 10px;
                z-index: 10;
                opacity: 1;
            }

            .sketch-para {
                min-width: 400px;
                max-width: 800px;
                margin: 0 auto;

                h1 {
                    font-size: 84px
                }

                span {
                    font-size: 54px
                }

                p {
                    font-size: 25px;
                }

                @include media-breakpoint-down(md) {
                    h1 {
                        font-size: 60px
                    }

                    span {
                        font-size: 45px
                    }

                    p {
                        font-size: 16px
                    }

                }

            }

        }

        .row {
            margin: 0;

            &.toolbar {
                z-index: 3;
                height: 80px;
                padding: .1rem;
                background: #212121;
                box-shadow: 0 3px 3px #0004;

                .tool-options {
                    padding: .75rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

            }

            &.editor {
                height: auto;

                #exampleEditor {
                    font-size: 18px;
                    font-family: Hack;
                }

            }

            &.frame {
                position: relative;

                .frame-win {
                    // border-radius: 5px;
                    // box-shadow: 4px 4px #c3c3c3;
                    overflow: hidden;
                }

                .frame-mobile-options {
                    display: none;
                }

            }

        }

        .side-frame {
            position: relative;
            width: 40%;
        }

        .side-editor {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        @include media-breakpoint-down(md) {
            .row {
                &.frame {
                    .frame-win {
                        border-radius: 0px;
                        box-shadow: 0px 0px transparent;
                    }

                    .frame-mobile-options {
                        position: absolute;
                        top: 50%;
                        right: 2px;
                        transform: translateY(-50%);
                        padding: 3px 6px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        border-radius: .5rem;

                        a {
                            padding: 0px 10px;
                            margin: 0 2px;
                            color: #fff;
                        }

                    }

                }

            }

            .side-frame {
                padding: 0;
                width: 100%;
                height: 100%;
            }

            .side-editor {
                display: none;
            }

        }

    }

    .row {
        width: 100%;

        &.header-image {
            width: 100%;
            margin: 0;

            &:before {
                content: '';
                background-image: image-url('celeste.jpg');
                background-position: center 20%;
                background-size: cover;
                width: 100%;
                height: 100px;
            }

        }

    }

    .lead {
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        color: #6e7f99;
        margin-top: 10px;
    }

    form {
        margin: 0 auto;
        padding: 80px 40px;
        position: relative;
        background: linear-gradient(180deg, #2f3640, #353b48);
        color: #fff;
        text-align: center;
        border-radius: 1rem;
        min-width: 500px;
        width: 500px;
        box-shadow: 0px 3px 0 #222;

        input[type='text'],
        input[type="password"],
        input[type='submit'],
        textarea {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            border: 2px solid #fff;
            padding: 14px 10px;
            width: 300px;
            outline: none;
            color: #fff;
            border-radius: 24px;
            max-width: none;
            @include et-transition(1, 1s);

            &:hover {
                width: 400px;
            }

            &::placeholder {
                color: #ccc;
            }

        }

        input[type='submit'] {
            text-align: center;
            border: 2px solid #fff;
            padding: 14px 18px;
            width: 200px;

            &:hover {
                width: 200px;
                color: #222;
                background: #fff;
            }

        }

        .form-tool {
            position: absolute;
            top: 20px;
            left: 90%;
            transform: translateX(-50%);
            width: 100px;

            a {
                padding: 0 5px;
                text-decoration: none;
                color: #fff;
            }

        }

    }

    input,
    textarea,
    select,
    .uneditable-input {
        width: 100%;
        margin-bottom: 8px;
    }

}

#exampleEditor {
    min-height: calc(100vh - 80px);
}

#exampleFrame {
    min-height: calc(100vh);
}

.sketch-info-btns {
    position: absolute;
    top: 10px;
    left: 18px;
    z-index: 20;

    i {
        padding: 0 .3rem;
    }

}

/* Sketch Setting Panel */
#sketchConfigPanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: -300px;
    width: 300px;
    height: 100%;
    z-index: 9;
    padding: 0;
    background: #222;
    pointer-events: all;
    border-left: 1px solid #444;
    @include et-transition(2, .5s);

    &.active {
        right: 0;
    }

    li {
        margin-right: 20px;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 0 0;
        width: 100%;
        background: transparent;
    }

    .row {
        margin-bottom: 20px;
    }

    .nav-tabs {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;

        a {
            position: relative;
            display: block;
            margin-right: 0;
            padding: 8px 0 5px 0;
            line-height: 1.2;
            font-weight: 400;
            text-decoration: none;
            color: #f5f5f5;

            &.active:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                background: #f5f5f5;
                bottom: 0px;
                left: 0;
                margin-bottom: -1px;
            }

        }

    }

    .tab-content {
        flex: 1;
        overflow: hidden;
        position: relative;

        .tab-pane {
            height: 100%;
            width: 100%;
            overflow-x: hidden;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 15px;
            overflow-y: auto;
            background: #222;
            color: #fff;
        }

    }

}