@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 100;
    src: asset-url("Steradian/Steradian-Thin.otf") format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 200;
    src: asset-url('Steradian/Steradian-ExtraLight.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 300;
    src: asset-url('Steradian/Steradian-Light.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: italic;
    font-weight: 400;
    src: asset-url('Steradian/Steradian-Regular-Italic.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 400;
    src: asset-url('Steradian/Steradian-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 500;
    src: asset-url('Steradian/Steradian-Medium.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 700;
    src: asset-url('Steradian/Steradian-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 900;
    src: asset-url('Steradian/Steradian-Black.otf') format('otf');
}

@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 400;
    src: asset-url('Hack/Hack-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 400;
    src: asset-url('Hack/Hack-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 700;
    src: asset-url('Hack/Hack-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 700;
    src: asset-url('Hack/Hack-BoldItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'Isonorm-D';
    font-style: normal;
    font-weight: 400;
    src: font-url('Isonorm-D.ttf') format('ttf');
}

@font-face {
    font-family: 'Proggy';
    font-style: normal;
    font-weight: 400;
    src: font-url('Proggy.ttf') format('ttf');
}