@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 100;
    src: local('Steradian'), url('/assets/Steradian/Steradian Thin.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 200;
    src: local('Steradian'), url('/assets/Steradian/Steradian ExtraLight.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 300;
    src: local('Steradian'), url('/assets/Steradian/Steradian Light.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: italic;
    font-weight: 400;
    src: local('Steradian'), url('/assets/Steradian/Steradian Regular Italic.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 400;
    src: local('Steradian'), url('/assets/Steradian/Steradian Regular.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 500;
    src: local('Steradian'), url('/assets/Steradian/Steradian Medium.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 700;
    src: local('Steradian'), url('/assets/Steradian/Steradian Bold.otf') format('otf');
}

@font-face {
    font-family: 'Steradian';
    font-style: normal;
    font-weight: 900;
    src: local('Steradian'), url('/assets/Steradian/Steradian Black.otf') format('otf');
}

@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 400;
    src: local('Hack'), url('/assets/Hack/Hack-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 400;
    src: local('Hack'), url('/assets/Hack/Hack-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 700;
    src: local('Hack'), url('/assets/Hack/Hack-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 700;
    src: local('Hack'), url('/assets/Hack/Hack-BoldItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'Isonorm-D';
    font-style: normal;
    font-weight: 400;
    src: local('Isonorm-D'), url('/assets/Isonorm-D.ttf') format('ttf');
}

@font-face {
    font-family: 'Proggy';
    font-style: normal;
    font-weight: 400;
    src: local('Proggy'), url('/assets/Proggy.ttf') format('ttf');
}