.footer {
    padding: 50px 0;
    height: auto;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $footer-link-color;
    background: $footer-background-color;
    font-size: 13px;
    font-family: Bree Serif;

    a {
        color: $footer-link-color;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .footer-mod {
        .logo {
            font-size: 24px;
            font-weight: 800;
            font-family: Pacifico;
            padding: 10px;
            margin: 0;
            border: 1px solid $footer-link-color;
            box-shadow: 0 2px 0 #0006;
            border-radius: .5rem;
            display: inline-block;
            user-select: none;
        }

        .copyrights {
            font-size: 15px;
            color: $footer-link-color;
            margin: 0;
            padding: 0;
        }

        .footer-social {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0 50px 50px 0;
            text-align: center;
            width: 100%;

            li {
                display: inline-block;
                width: 45px;
                font-size: 26px;
                margin-top: .4rem;

                i {
                    color: inherit;
                    font-size: 36px;

                    &:hover {
                        color: $footer-link-color-highlight;
                    }

                }

            }

        }

    }

    .footer-links-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 0px;
        width: 100%;

        * {
            @include et-transition(2, .5s);
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
            justify-content: flex-start;
            padding: 0 25px;
        }

        .footer-link-holder {
            padding: 24px;
            margin-bottom: 20px;

            @include media-breakpoint-down(xl) {
                width: auto;
            }

            @include media-breakpoint-down(lg) {
                width: 30%;
            }

            @include media-breakpoint-down(md) {
                padding: 0px;
                width: 50%;
            }

            @include media-breakpoint-down(sm) {
                padding: 0px;
                width: 100%;
            }

            .footer-link:hover {
                color: $footer-link-color-highlight;
            }

        }

        .footer-link-title {
            color: inherit;
            margin-top: 0;
            font-weight: 600;
            margin-bottom: 15px;
        }

    }

    @media screen and (max-width:1024px) {
        font-size: 13px;

        li {
            margin: 0;
        }

    }

}