.form-user {

    input,
    textarea,
    select {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #bbb;
    }

    form {
        position: relative;
        min-width: 200px;
        margin: 0 auto;
        overflow: hidden;
        color: inherit;
        border-radius: .2rem;
        font-family: Steradian;

        @include media-breakpoint-down(md) {}

        input[type='text'],
        input[type="password"],
        input[type='email'],
        textarea {
            display: block;
            width: 100%;
            padding: 14px 10px;
            border: 0;
            border-radius: 6px;
            background: #f5f6f7;
            text-align: left;
            text-indent: 5px;
            outline: none;
            color: #111;
            @include transition(1, bezier(0, .75, 0, 1));

            &:hover {}

            @include media-breakpoint-down(md) {
                padding: 7px 5px;
            }

        }

        input[type='checkbox'] {
            display: inline-block;
            width: auto;
        }
    }
}