.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    background: $header-background-color;
    font-weight: 500;

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-weight: bold;
    }

    @include media-breakpoint-down(lg) {
        height: 40px;
        min-height: 40px;
        position: sticky;
        z-index: 50;
        justify-content: flex-end;
        background: $header-background-color-mobile;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 15px;
        height: 100%;
        margin-left: 3%;
        background: transparent;

        .logo {
            padding: 0 10px;
            font-size: 1.35rem;
            font-weight: 600;
            color: $header-text-color;
            line-height: 40px;
            @include et-transition(2, .5s);

            span {
                font-size: 1.1rem;
                font-weight: 300;
            }

        }

        @include media-breakpoint-down(lg) {
            padding: 0;
        }

    }

    .navbar-md {
        width: auto;
        height: 100%;
        background: #f1f2f6;
        padding: 0 10px;

        .nav-items {
            display: flex;
            height: 100%;

            .nav-item {
                height: 100%;
                margin: 0 .3rem;
                width: auto;

                .nav-link {
                    position: relative;
                    color: #222;
                    height: 100%;
                    padding: 0 15px;
                    line-height: 60px;
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 19px;
                    @include et-transition(1, .5s);

                    &:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 2px;
                        width: 0px;
                        height: 3px;
                        transform: translateX(-50%);
                        background: $header-text-color;
                        @include et-transition(1, .5s);
                    }

                    &:hover {
                        color: $header-text-color;
                    }

                    &:hover:before {
                        width: 50%;
                        height: 3px;
                    }

                    &:active {
                        color: $header-text-color;
                    }

                }

            }

        }

        @include media-breakpoint-down(lg) {
            display: none;
        }

    }

    .navbar-icons {
        display: none;
        margin: 0 30px;
        height: 100%;

        .icons-list {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;

            li {
                margin: 0;
            }

        }

        @include media-breakpoint-down(lg) {
            display: block;
        }

    }

    .navbar-mobile-menu {
        position: fixed;
        top: 40px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 1px;
        opacity: 0;
        color: $header-text-color;
        visibility: hidden;
        background-attachment: all;
        background: $header-background-color-mobile;
        @include et-transition(2, .5s);

        @include media-breakpoint-down(lg) {
            position: fixed;
            right: 0;
            height: calc(100vh - 40px);
            padding: 0 1rem 40px 1rem;
            width: 100vw;
            opacity: 0;

            &.open {
                visibility: visible;
                width: 100vw;
                opacity: 1;
            }

            .mobile-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: center;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 1em;

                .mobile-item {
                    font-size: 28px;
                    margin: .3rem 0;
                }

                .mobile-item:hover {
                    text-decoration: underline;
                }

            }

            .mobile-link {
                color: $header-text-color;
            }

        }

    }

}