.enrique {
    font-family: Steradian;
    text-align: left;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    user-select: none;
    color: $home-hero-text-color;

    &:before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: $home-hero-background-color;
        background-image: image-url('hero.jpg');
        background-size: cover;
        background-position: center;
        filter: brightness($home-hero-image-depth);
        // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 80%, rgba(0, 0, 0, .1) 100%);
        @include et-transition(1, .5s);
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
        min-height: 1px;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    }

    .enrique-content {
        text-align: left;
        margin: 0 auto;
        position: relative;
        padding: 2vh 2rem;
        max-width: 70rem;
        flex-basis: 100%;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
        order: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .enrique-copy {
        flex-basis: 55%;
        width: 55%;
    }

    .enrique-image {
        height: auto;
        width: auto;
        padding: 0;
        flex-basis: 45%;
        width: 45%;
        user-drag: none;
    }

    .enrique-cta {
        display: block;
        margin: 1rem 0 0 0;
    }

    .enrique-attribution {
        padding: 0 2rem;
        max-width: 70rem;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto 2rem auto;
        margin-top: 1rem;
        text-align: left;
        position: relative;
        z-index: 1;
    }

    .enrique-heading {
        line-height: 1;
        font-size: 52px;
        margin: 1rem 0;
        color: $home-hero-text-color;
    }

    .enrique-text {
        font-size: 1.25rem;
        margin: 0;
        color: $home-hero-text-color;
    }

    @include media-breakpoint-down(sm) {
        * {
            color: inherit;
        }

        &:before {
            background-color: $home-hero-background-color-mobile;
        }

        .enrique-content {
            flex-direction: column;
            text-align: center;
            padding: 0 2rem;
        }

        .enrique-content {
            margin: 0;
            padding: 0;
            margin-top: 20px;
        }

        .enrique-copy {
            flex-basis: 100%;
        }

        .enrique-image {
            flex-basis: 80%;
            width: 80%;
            order: -1;
        }

        .enrique-attribution {
            text-align: center;
            font-size: 0.85rem;
        }

        .enrique-heading {
            font-size: 1.5rem;
        }

        .enrique-text {
            font-size: 1rem;
            margin: 0;
        }

    }

}