ion-icon {
    font-size: inherit;
    user-select: none;
}

.icon {
    color: inherit;
    vertical-align: middle;
    @include transition(.5, bezier(0, .75, 0, 1));
}

@each $index,
$color in map-merge($theme-colors, $colors) {
    .icon-#{$index} {
        color: $color !important;
    }
}

@each $size in (16, 24, 36, 48, 64, 128, 192) {
    .icon-#{$size} {
        @extend .icon;
        font-size: #{$size}px;
    }
}

@each $var in (0, 45, 90, 145, 180) {
    .icon-transform-hue-#{$var} {
        &:hover {
            filter: hue-rotate(#{$var}deg);
        }
    }

    .icon-transform-rotate-#{$var} {
        &:hover {
            transform: rotate(#{$var}deg);
        }
    }
}