html {
    font-family: Roboto, Steradian, sans-serif;
}

body {
    color: $et-tc;
    font-family: inherit;
}

::selection {
    background: $et-tsc;
    color: #fff;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: $et-lkc;

    &:hover {
        color: $et-lkc-h;
    }

    &:visited {
        color: $et-lkc-v;
        text-decoration: none;
    }

    &:active {
        color: $et-lkc-a;
    }

}

dl,
ol,
ul {}

li {
    margin-top: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 13.5px;
    font-weight: 700;
}

pre,
code,
kbd,
samp {
    font-family: Hack, monospace;
    font-size: 1em;
}

pre {
    color: #fff;
}

.content {
    margin-top: 60px;

    @include media-breakpoint-down(lg) {
        margin: 0;
    }

}

.ul-normal {
    @include list-normal(ul);
}

.ol-normal {
    @include list-normal(ol);
}

.alert {
    margin: 0;
}