html {
    font-family: Steradian;
}

body {
    color: #363636;
    font-family: inherit;
}

::selection {
    background: #ff1744;
    color: #fff;
}

a {
    color: #ff1744;

    &:hover {
        color: #dc143c;
    }

    &:visited,
    &:link {
        color: #dc143c;
        text-decoration: none;
    }

    &:active {
        color: #ff1744;
    }

}

dl,
ol,
ul {}

li {}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 13.5px;
    font-weight: 700;
}

pre,
code,
kbd,
samp {
    font-family: Hack, monospace;
    font-size: 1em;
}

.content {
    margin-top: 60px;

    @include media-breakpoint-down(lg) {
        margin: 0;
    }

}

.ul-normal {
    @include list-normal(ul);
}

.ol-normal {
    @include list-normal(ol);
}

.turbolinks-progress-bar {
    background-color: #ff1744;
}