@mixin animation-h1($time) {
    transition: $time;
    transition-timing-function: cubic-bezier(0, .75, 0, 1);
}

@mixin animation-h2($time) {
    transition: $time;
    transition-timing-function: cubic-bezier(.25, .1, 0, 1);
}

@mixin list-normal($type) {
    @if $type==ul {
        list-style-type: none;
    }

    @else if $type==ol {
        list-style-type: none;
    }

}
