h1,
h2,
h3,
h4,
h5,
h6 {
    // margin: 0 0 13.5px 0;
    // font-weight: 700;
}

h1 {
    font-weight: 700;
    letter-spacing: -.03em;
}

// h2 {
//     margin-top: 60px
// }

// h2,
// h3 {
//     margin-bottom: 0;
//     letter-spacing: -.03em;
// }

// h3 {
//     line-height: 28px;
//     margin-top: 40px
// }

// h4 {
//     line-height: 16px;
// }

// h4,
// h6 {
//     font-weight: 600
// }

// h6 {
//     line-height: 10px;
//     text-transform: uppercase;
//     letter-spacing: .05em;
//     margin: 0
// }


.lh {
    line-height: 1;
}

.va {
    vertical-align: middle;
}

.turbolinks-progress-bar {
    background-color: complement($primary);
}

::selection {
    background: #00695c;
    color: #fff;
}

$special_heading_color: #eb3b5a;

.sp {
    display: inline-block;
    position: relative;
    width: auto;
    color: $special_heading_color;
    // -webkit-text-stroke: 1px #4b6584;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 33%;
        background-color: #d1d8e0;
        // #f5f6fa #dcdde1
        z-index: -1;
    }
}

.spr {
    @extend .sp;
    color: #fff;

    &:after {
        background-color: $special_heading_color;
    }
}