<div class="d-flex flex-column justify-content-center align-items-center d112">
  <div class="container-fluid">
    <div class="row nop bg-dark">
      <div class="col py-4 px-3">
        <ul class="list">
          <li>
            <i class="icon36 fa fa-adjust animated-inf animated4 ease-in-out spin"></i>fa fa-adjust
          </li>
          <li>
            <i class="icon36 icon ion-logo-ionic"></i>icon ion-md-heart
          </li>
          <li>
            <i class="icon36 icon i--hv i--green ion-md-add"></i>icon i--hv i--green ion-md-add
          </li>
        </ul>
      </h3>
    </div>
  </div>
  <div class="row nop bg-dark">
    <div class="col py-4 px-3 white">
      <h1 class="pl-3">Link Styles</h1>
      <ul>
        <li>
          <a href="#">normal</a>
        </li>
        <li>
          <a href="#" class="link">link</a>
        </li>
        <li>
          <a href="#" class="link link-underline-light o-90 glow">link link-underline-light o-90 glow</a>
        </li>
        <li>
          <a href="#" class="link link-underline-light dim">link link-underline-light dim</a>
        </li>
        <li>
          <a href="#" class="link hover-black hover-bg-white">link hover-black hover-bg-white</a>
        </li>
        <li>
          <a href="#" class="link hover-red">link hover-red</a>
        </li>
        <li>
          <a href="#" class="link hover-blue">link hover-blue</a>
        </li>
        <li>
          <a href="#" class="link orange hover-bg-black">link orange hover-bg-black</a>
        </li>
        <li>
          <a href="#" class="link orange hover-orange hover-bg-black">link hover-orange hover-bg-black</a>
        </li>
        <li>
          <span class="dark">
            span dark
            <a href="#" class="link dark-orange hover-bg-black">link dark-orange hover-bg-black</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row nop" style="color: #333">
    <div class="col">
      <h1>
        Steradian
      </h1>
      <p>
        Steradian is an exploration of the geometric genre and although it has a geometric base, the widths between letters are not much different across the weights, something common of the style. That is due to the process, in which the proportions of the heavier weights paved the way for the lighter ones. It also has a series of details that make Steradian stand out and gives it a special touch. Some of its main features are the double-story ‘a’, its closed apertures and some of the capitals have a distinct personality (such as the G and Q). Read more about the design process at the Blog. 
      </p>
      <p class="fw5 p-3 f8 bg-green9 lh white">
        ABCDEFGHIJKLMN<br>
        OPQRSTUVWXYZ<br>
        abcdefghijklmn<br>
        opqrstuvwxyz<br>
        0123456789
      </p>
      <p>
        ÀÁÂÃÄĀĂÅĄÆĆĈČĊÇĎĐÈÉÊĚËĒĔĖĘ
        ĜĞĠĢĤĦÍÎÌĨÏĪİĮIJĴĶĹĽĻĿŁŃŇÑŅÒÓÔÕ
        ÖŌŎŐØŒÞŔŘŖŚŜŠŞȘẞŤŢŦÙÚÛŨÜŪŬ
        ŮŰŲẀẂŴẄÝŶŸŹŽŻ
        àáâãäāăåąæćĉčċçðďđèéêěëēĕėę
        fffiffiflfflĝğġģĥħíîìĩïīįijıȷĵķĸĺľļŀłńňñņŉ
        òóôõöōŏőøœþŕŗřśŝšşșßťţŧùúûũü
        ūŭůűųẁẃŵẅýŷÿźžż
        &¡!¿?(/)[|]{\}‹«»›’”‘’“”‚„,;:._-­–—•·
        0123456789†‡*§¶@©®™€$¢£¥ƒſ
        ¦^+−±×÷=≠#~≈&lt;&gt;≤≥ℓ%‰ªº°
        ⁰¹²³⁴⁵⁶⁷⁸⁹   ₀₁₂₃₄₅₆₇₈₉
        ⅓ ⅔ ⅕ ⅖ ⅗ ⅘ ⅙ ⅚ ⅛ ⅜ ⅝ ⅞
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>loreLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col">
      <p>loreLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>You can use the mark tag to <mark>highlight</mark> text.</p>
      <p><del>This line of text is meant to be treated as deleted text.</del></p>
      <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
      <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
      <p><u>This line of text will render as underlined</u></p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p><strong>This line rendered as bold text.</strong></p>
      <p><em>This line rendered as italicized text.</em></p>
    </div>
  </div>
  <div class="row">
    <article class="col">
      <h1>article 1</h1>
      <p>loreLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </article>
    <article class="col">
      <h1>article 2</h1>
      <p>loreLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </article>
  </div>
  <div class="row">
    <div class="col">
      <h1>h1</h1>
      <h2>h2</h2>
      <h3>h3</h3>
      <h4>h4</h4>
      <h5>h5</h5>
      <h6>h6</h6>
    </div>
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>Heading</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><code class="highlighter-rouge">&lt;h1&gt;&lt;/h1&gt;</code></p>
            </td>
            <td><span class="h1">h1. Bootstrap heading</span></td>
          </tr>
          <tr>
            <td>
              <p><code class="highlighter-rouge">&lt;h2&gt;&lt;/h2&gt;</code></p>
            </td>
            <td><span class="h2">h2. Bootstrap heading</span></td>
          </tr>
          <tr>
            <td>
              <p><code class="highlighter-rouge">&lt;h3&gt;&lt;/h3&gt;</code></p>
            </td>
            <td><span class="h3">h3. Bootstrap heading</span></td>
          </tr>
          <tr>
            <td>
              <p><code class="highlighter-rouge">&lt;h4&gt;&lt;/h4&gt;</code></p>
            </td>
            <td><span class="h4">h4. Bootstrap heading</span></td>
          </tr>
          <tr>
            <td>
              <p><code class="highlighter-rouge">&lt;h5&gt;&lt;/h5&gt;</code></p>
            </td>
            <td><span class="h5">h5. Bootstrap heading</span></td>
          </tr>
          <tr>
            <td>
              <p><code class="highlighter-rouge">&lt;h6&gt;&lt;/h6&gt;</code></p>
            </td>
            <td><span class="h6">h6. Bootstrap heading</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
          <ul class="ul-normal">
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
          </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </div>
    <div class="col">
      <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
          <ol class="ol-normal">
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
          </ol>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <pre><code class="language-ruby">module FFaker
  module NameCN
    extend ModuleUtils
    extend self
  end
end</code>
</pre>
    </div>
    <div class="col">
      <pre class="language-css"><code>@each $dir,
$var in ("t":top, "r":right, "b":bottom, "l":left) {
    .b#{$dir}-0 {
        border-#{$var}-width: 0
    }

    .b#{$dir} {
        border-#{$var}-width: 1;
        border-#{$var}-style: solid;
    }
}
</code></pre>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market St, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col">
      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </div>
  </div>
  <div class="row">
    <div class="col">
      To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
      To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
    </div>
  </div>
  <div class="row nop">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-primary">
            <th scope="row">1</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="bg-success">
            <th scope="row">3</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="bg-info">
            <th scope="row">5</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="bg-warning">
            <th scope="row">7</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="bg-danger">
            <th scope="row">9</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row nop">
    <div class="col-12">
      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
      <div class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
      </div>
      <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
      </div>
      <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div>
      <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
      </div>
      <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
      </div>
      <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
      </div>
      <div class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
      </div>
    </div>
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row nop">
    <div class="col">
      <div class="shadow">
        <div class="clearfix">
          <div class="color active" style="background: rgb(244, 67, 54);">
            <div class="color__shade" style="background: rgb(255, 235, 238); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#ffebee</span></div>
            <div class="color__shade" style="background: rgb(255, 205, 210); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#ffcdd2</span></div>
            <div class="color__shade" style="background: rgb(239, 154, 154); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#ef9a9a</span></div>
            <div class="color__shade" style="background: rgb(229, 115, 115); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#e57373</span></div>
            <div class="color__shade" style="background: rgb(239, 83, 80); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#ef5350</span></div>
            <div class="color__shade" style="background: rgb(244, 67, 54); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#f44336</span></div>
            <div class="color__shade" style="background: rgb(229, 57, 53); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#e53935</span></div>
            <div class="color__shade" style="background: rgb(211, 47, 47); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#d32f2f</span></div>
            <div class="color__shade" style="background: rgb(198, 40, 40); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#c62828</span></div>
            <div class="color__shade" style="background: rgb(183, 28, 28); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#b71c1c</span></div>
            <div class="color__shade" style="background: rgb(255, 138, 128); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ff8a80</span></div>
            <div class="color__shade" style="background: rgb(255, 82, 82); height: 35.7143px;"><span class="color__strength" style="color: white;">A200</span><span class="color__hex" style="color: white;">#ff5252</span></div>
            <div class="color__shade" style="background: rgb(255, 23, 68); height: 35.7143px;"><span class="color__strength" style="color: white;">A400</span><span class="color__hex" style="color: white;">#ff1744</span></div>
            <div class="color__shade" style="background: rgb(213, 0, 0); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#d50000</span></div>
          </div>
          <div class="color active" style="background: rgb(233, 30, 99);">
            <div class="color__shade" style="background: rgb(252, 228, 236); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#fce4ec</span></div>
            <div class="color__shade" style="background: rgb(248, 187, 208); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#f8bbd0</span></div>
            <div class="color__shade" style="background: rgb(244, 143, 177); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#f48fb1</span></div>
            <div class="color__shade" style="background: rgb(240, 98, 146); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#f06292</span></div>
            <div class="color__shade" style="background: rgb(236, 64, 122); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#ec407a</span></div>
            <div class="color__shade" style="background: rgb(233, 30, 99); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#e91e63</span></div>
            <div class="color__shade" style="background: rgb(216, 27, 96); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#d81b60</span></div>
            <div class="color__shade" style="background: rgb(194, 24, 91); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#c2185b</span></div>
            <div class="color__shade" style="background: rgb(173, 20, 87); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#ad1457</span></div>
            <div class="color__shade" style="background: rgb(136, 14, 79); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#880e4f</span></div>
            <div class="color__shade" style="background: rgb(255, 128, 171); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ff80ab</span></div>
            <div class="color__shade" style="background: rgb(255, 64, 129); height: 35.7143px;"><span class="color__strength" style="color: white;">A200</span><span class="color__hex" style="color: white;">#ff4081</span></div>
            <div class="color__shade" style="background: rgb(245, 0, 87); height: 35.7143px;"><span class="color__strength" style="color: white;">A400</span><span class="color__hex" style="color: white;">#f50057</span></div>
            <div class="color__shade" style="background: rgb(197, 17, 98); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#c51162</span></div>
          </div>
          <div class="color active" style="background: rgb(156, 39, 176);">
            <div class="color__shade" style="background: rgb(243, 229, 245); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#f3e5f5</span></div>
            <div class="color__shade" style="background: rgb(225, 190, 231); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#e1bee7</span></div>
            <div class="color__shade" style="background: rgb(206, 147, 216); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#ce93d8</span></div>
            <div class="color__shade" style="background: rgb(186, 104, 200); height: 35.7143px;"><span class="color__strength" style="color: white;">300</span><span class="color__hex" style="color: white;">#ba68c8</span></div>
            <div class="color__shade" style="background: rgb(171, 71, 188); height: 35.7143px;"><span class="color__strength" style="color: white;">400</span><span class="color__hex" style="color: white;">#ab47bc</span></div>
            <div class="color__shade" style="background: rgb(156, 39, 176); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#9c27b0</span></div>
            <div class="color__shade" style="background: rgb(142, 36, 170); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#8e24aa</span></div>
            <div class="color__shade" style="background: rgb(123, 31, 162); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#7b1fa2</span></div>
            <div class="color__shade" style="background: rgb(106, 27, 154); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#6a1b9a</span></div>
            <div class="color__shade" style="background: rgb(74, 20, 140); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#4a148c</span></div>
            <div class="color__shade" style="background: rgb(234, 128, 252); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ea80fc</span></div>
            <div class="color__shade" style="background: rgb(224, 64, 251); height: 35.7143px;"><span class="color__strength" style="color: white;">A200</span><span class="color__hex" style="color: white;">#e040fb</span></div>
            <div class="color__shade" style="background: rgb(213, 0, 249); height: 35.7143px;"><span class="color__strength" style="color: white;">A400</span><span class="color__hex" style="color: white;">#d500f9</span></div>
            <div class="color__shade" style="background: rgb(170, 0, 255); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#aa00ff</span></div>
          </div>
          <div class="color active" style="background: rgb(103, 58, 183);">
            <div class="color__shade" style="background: rgb(237, 231, 246); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#ede7f6</span></div>
            <div class="color__shade" style="background: rgb(209, 196, 233); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#d1c4e9</span></div>
            <div class="color__shade" style="background: rgb(179, 157, 219); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#b39ddb</span></div>
            <div class="color__shade" style="background: rgb(149, 117, 205); height: 35.7143px;"><span class="color__strength" style="color: white;">300</span><span class="color__hex" style="color: white;">#9575cd</span></div>
            <div class="color__shade" style="background: rgb(126, 87, 194); height: 35.7143px;"><span class="color__strength" style="color: white;">400</span><span class="color__hex" style="color: white;">#7e57c2</span></div>
            <div class="color__shade" style="background: rgb(103, 58, 183); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#673ab7</span></div>
            <div class="color__shade" style="background: rgb(94, 53, 177); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#5e35b1</span></div>
            <div class="color__shade" style="background: rgb(81, 45, 168); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#512da8</span></div>
            <div class="color__shade" style="background: rgb(69, 39, 160); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#4527a0</span></div>
            <div class="color__shade" style="background: rgb(49, 27, 146); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#311b92</span></div>
            <div class="color__shade" style="background: rgb(179, 136, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#b388ff</span></div>
            <div class="color__shade" style="background: rgb(124, 77, 255); height: 35.7143px;"><span class="color__strength" style="color: white;">A200</span><span class="color__hex" style="color: white;">#7c4dff</span></div>
            <div class="color__shade" style="background: rgb(101, 31, 255); height: 35.7143px;"><span class="color__strength" style="color: white;">A400</span><span class="color__hex" style="color: white;">#651fff</span></div>
            <div class="color__shade" style="background: rgb(98, 0, 234); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#6200ea</span></div>
          </div>
          <div class="color active" style="background: rgb(63, 81, 181);">
            <div class="color__shade" style="background: rgb(232, 234, 246); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#e8eaf6</span></div>
            <div class="color__shade" style="background: rgb(197, 202, 233); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#c5cae9</span></div>
            <div class="color__shade" style="background: rgb(159, 168, 218); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#9fa8da</span></div>
            <div class="color__shade" style="background: rgb(121, 134, 203); height: 35.7143px;"><span class="color__strength" style="color: white;">300</span><span class="color__hex" style="color: white;">#7986cb</span></div>
            <div class="color__shade" style="background: rgb(92, 107, 192); height: 35.7143px;"><span class="color__strength" style="color: white;">400</span><span class="color__hex" style="color: white;">#5c6bc0</span></div>
            <div class="color__shade" style="background: rgb(63, 81, 181); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#3f51b5</span></div>
            <div class="color__shade" style="background: rgb(57, 73, 171); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#3949ab</span></div>
            <div class="color__shade" style="background: rgb(48, 63, 159); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#303f9f</span></div>
            <div class="color__shade" style="background: rgb(40, 53, 147); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#283593</span></div>
            <div class="color__shade" style="background: rgb(26, 35, 126); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#1a237e</span></div>
            <div class="color__shade" style="background: rgb(140, 158, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#8c9eff</span></div>
            <div class="color__shade" style="background: rgb(83, 109, 254); height: 35.7143px;"><span class="color__strength" style="color: white;">A200</span><span class="color__hex" style="color: white;">#536dfe</span></div>
            <div class="color__shade" style="background: rgb(61, 90, 254); height: 35.7143px;"><span class="color__strength" style="color: white;">A400</span><span class="color__hex" style="color: white;">#3d5afe</span></div>
            <div class="color__shade" style="background: rgb(48, 79, 254); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#304ffe</span></div>
          </div>
          <div class="color active" style="background: rgb(33, 150, 243);">
            <div class="color__shade" style="background: rgb(227, 242, 253); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#e3f2fd</span></div>
            <div class="color__shade" style="background: rgb(187, 222, 251); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#bbdefb</span></div>
            <div class="color__shade" style="background: rgb(144, 202, 249); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#90caf9</span></div>
            <div class="color__shade" style="background: rgb(100, 181, 246); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#64b5f6</span></div>
            <div class="color__shade" style="background: rgb(66, 165, 245); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#42a5f5</span></div>
            <div class="color__shade" style="background: rgb(33, 150, 243); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#2196f3</span></div>
            <div class="color__shade" style="background: rgb(30, 136, 229); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#1e88e5</span></div>
            <div class="color__shade" style="background: rgb(25, 118, 210); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#1976d2</span></div>
            <div class="color__shade" style="background: rgb(21, 101, 192); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#1565c0</span></div>
            <div class="color__shade" style="background: rgb(13, 71, 161); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#0d47a1</span></div>
            <div class="color__shade" style="background: rgb(130, 177, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#82b1ff</span></div>
            <div class="color__shade" style="background: rgb(68, 138, 255); height: 35.7143px;"><span class="color__strength" style="color: white;">A200</span><span class="color__hex" style="color: white;">#448aff</span></div>
            <div class="color__shade" style="background: rgb(41, 121, 255); height: 35.7143px;"><span class="color__strength" style="color: white;">A400</span><span class="color__hex" style="color: white;">#2979ff</span></div>
            <div class="color__shade" style="background: rgb(41, 98, 255); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#2962ff</span></div>
          </div>
          <div class="color active" style="background: rgb(3, 169, 244);">
            <div class="color__shade" style="background: rgb(225, 245, 254); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#e1f5fe</span></div>
            <div class="color__shade" style="background: rgb(179, 229, 252); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#b3e5fc</span></div>
            <div class="color__shade" style="background: rgb(129, 212, 250); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#81d4fa</span></div>
            <div class="color__shade" style="background: rgb(79, 195, 247); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#4fc3f7</span></div>
            <div class="color__shade" style="background: rgb(41, 182, 246); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#29b6f6</span></div>
            <div class="color__shade" style="background: rgb(3, 169, 244); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#03a9f4</span></div>
            <div class="color__shade" style="background: rgb(3, 155, 229); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#039be5</span></div>
            <div class="color__shade" style="background: rgb(2, 136, 209); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#0288d1</span></div>
            <div class="color__shade" style="background: rgb(2, 119, 189); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#0277bd</span></div>
            <div class="color__shade" style="background: rgb(1, 87, 155); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#01579b</span></div>
            <div class="color__shade" style="background: rgb(128, 216, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#80d8ff</span></div>
            <div class="color__shade" style="background: rgb(64, 196, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#40c4ff</span></div>
            <div class="color__shade" style="background: rgb(0, 176, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#00b0ff</span></div>
            <div class="color__shade" style="background: rgb(0, 145, 234); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#0091ea</span></div>
          </div>
          <div class="color active" style="background: rgb(0, 188, 212);">
            <div class="color__shade" style="background: rgb(224, 247, 250); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#e0f7fa</span></div>
            <div class="color__shade" style="background: rgb(178, 235, 242); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#b2ebf2</span></div>
            <div class="color__shade" style="background: rgb(128, 222, 234); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#80deea</span></div>
            <div class="color__shade" style="background: rgb(77, 208, 225); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#4dd0e1</span></div>
            <div class="color__shade" style="background: rgb(38, 198, 218); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#26c6da</span></div>
            <div class="color__shade" style="background: rgb(0, 188, 212); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#00bcd4</span></div>
            <div class="color__shade" style="background: rgb(0, 172, 193); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#00acc1</span></div>
            <div class="color__shade" style="background: rgb(0, 151, 167); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#0097a7</span></div>
            <div class="color__shade" style="background: rgb(0, 131, 143); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#00838f</span></div>
            <div class="color__shade" style="background: rgb(0, 96, 100); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#006064</span></div>
            <div class="color__shade" style="background: rgb(132, 255, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#84ffff</span></div>
            <div class="color__shade" style="background: rgb(24, 255, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#18ffff</span></div>
            <div class="color__shade" style="background: rgb(0, 229, 255); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#00e5ff</span></div>
            <div class="color__shade" style="background: rgb(0, 184, 212); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#00b8d4</span></div>
          </div>
          <div class="color active" style="background: rgb(0, 150, 136);">
            <div class="color__shade" style="background: rgb(224, 242, 241); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#e0f2f1</span></div>
            <div class="color__shade" style="background: rgb(178, 223, 219); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#b2dfdb</span></div>
            <div class="color__shade" style="background: rgb(128, 203, 196); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#80cbc4</span></div>
            <div class="color__shade" style="background: rgb(77, 182, 172); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#4db6ac</span></div>
            <div class="color__shade" style="background: rgb(38, 166, 154); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#26a69a</span></div>
            <div class="color__shade" style="background: rgb(0, 150, 136); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#009688</span></div>
            <div class="color__shade" style="background: rgb(0, 137, 123); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#00897b</span></div>
            <div class="color__shade" style="background: rgb(0, 121, 107); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#00796b</span></div>
            <div class="color__shade" style="background: rgb(0, 105, 92); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#00695c</span></div>
            <div class="color__shade" style="background: rgb(0, 77, 64); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#004d40</span></div>
            <div class="color__shade" style="background: rgb(167, 255, 235); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#a7ffeb</span></div>
            <div class="color__shade" style="background: rgb(100, 255, 218); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#64ffda</span></div>
            <div class="color__shade" style="background: rgb(29, 233, 182); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#1de9b6</span></div>
            <div class="color__shade" style="background: rgb(0, 191, 165); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#00bfa5</span></div>
          </div>
          <div class="color active" style="background: rgb(76, 175, 80);">
            <div class="color__shade" style="background: rgb(232, 245, 233); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#e8f5e9</span></div>
            <div class="color__shade" style="background: rgb(200, 230, 201); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#c8e6c9</span></div>
            <div class="color__shade" style="background: rgb(165, 214, 167); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#a5d6a7</span></div>
            <div class="color__shade" style="background: rgb(129, 199, 132); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#81c784</span></div>
            <div class="color__shade" style="background: rgb(102, 187, 106); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#66bb6a</span></div>
            <div class="color__shade" style="background: rgb(76, 175, 80); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#4caf50</span></div>
            <div class="color__shade" style="background: rgb(67, 160, 71); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#43a047</span></div>
            <div class="color__shade" style="background: rgb(56, 142, 60); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#388e3c</span></div>
            <div class="color__shade" style="background: rgb(46, 125, 50); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#2e7d32</span></div>
            <div class="color__shade" style="background: rgb(27, 94, 32); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#1b5e20</span></div>
            <div class="color__shade" style="background: rgb(185, 246, 202); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#b9f6ca</span></div>
            <div class="color__shade" style="background: rgb(105, 240, 174); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#69f0ae</span></div>
            <div class="color__shade" style="background: rgb(0, 230, 118); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#00e676</span></div>
            <div class="color__shade" style="background: rgb(0, 200, 83); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#00c853</span></div>
          </div>
          <div class="color active" style="background: rgb(139, 195, 74);">
            <div class="color__shade" style="background: rgb(241, 248, 233); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#f1f8e9</span></div>
            <div class="color__shade" style="background: rgb(220, 237, 200); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#dcedc8</span></div>
            <div class="color__shade" style="background: rgb(197, 225, 165); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#c5e1a5</span></div>
            <div class="color__shade" style="background: rgb(174, 213, 129); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#aed581</span></div>
            <div class="color__shade" style="background: rgb(156, 204, 101); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#9ccc65</span></div>
            <div class="color__shade" style="background: rgb(139, 195, 74); height: 35.7143px;"><span class="color__strength" style="color: black;">500</span><span class="color__hex" style="color: black;">#8bc34a</span></div>
            <div class="color__shade" style="background: rgb(124, 179, 66); height: 35.7143px;"><span class="color__strength" style="color: black;">600</span><span class="color__hex" style="color: black;">#7cb342</span></div>
            <div class="color__shade" style="background: rgb(104, 159, 56); height: 35.7143px;"><span class="color__strength" style="color: black;">700</span><span class="color__hex" style="color: black;">#689f38</span></div>
            <div class="color__shade" style="background: rgb(85, 139, 47); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#558b2f</span></div>
            <div class="color__shade" style="background: rgb(51, 105, 30); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#33691e</span></div>
            <div class="color__shade" style="background: rgb(204, 255, 144); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ccff90</span></div>
            <div class="color__shade" style="background: rgb(178, 255, 89); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#b2ff59</span></div>
            <div class="color__shade" style="background: rgb(118, 255, 3); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#76ff03</span></div>
            <div class="color__shade" style="background: rgb(100, 221, 23); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#64dd17</span></div>
          </div>
          <div class="color active" style="background: rgb(205, 220, 57);">
            <div class="color__shade" style="background: rgb(249, 251, 231); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#f9fbe7</span></div>
            <div class="color__shade" style="background: rgb(240, 244, 195); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#f0f4c3</span></div>
            <div class="color__shade" style="background: rgb(230, 238, 156); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#e6ee9c</span></div>
            <div class="color__shade" style="background: rgb(220, 231, 117); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#dce775</span></div>
            <div class="color__shade" style="background: rgb(212, 225, 87); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#d4e157</span></div>
            <div class="color__shade" style="background: rgb(205, 220, 57); height: 35.7143px;"><span class="color__strength" style="color: black;">500</span><span class="color__hex" style="color: black;">#cddc39</span></div>
            <div class="color__shade" style="background: rgb(192, 202, 51); height: 35.7143px;"><span class="color__strength" style="color: black;">600</span><span class="color__hex" style="color: black;">#c0ca33</span></div>
            <div class="color__shade" style="background: rgb(175, 180, 43); height: 35.7143px;"><span class="color__strength" style="color: black;">700</span><span class="color__hex" style="color: black;">#afb42b</span></div>
            <div class="color__shade" style="background: rgb(158, 157, 36); height: 35.7143px;"><span class="color__strength" style="color: black;">800</span><span class="color__hex" style="color: black;">#9e9d24</span></div>
            <div class="color__shade" style="background: rgb(130, 119, 23); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#827717</span></div>
            <div class="color__shade" style="background: rgb(244, 255, 129); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#f4ff81</span></div>
            <div class="color__shade" style="background: rgb(238, 255, 65); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#eeff41</span></div>
            <div class="color__shade" style="background: rgb(198, 255, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#c6ff00</span></div>
            <div class="color__shade" style="background: rgb(174, 234, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#aeea00</span></div>
          </div>
          <div class="color active" style="background: rgb(255, 235, 59);">
            <div class="color__shade" style="background: rgb(255, 253, 231); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#fffde7</span></div>
            <div class="color__shade" style="background: rgb(255, 249, 196); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#fff9c4</span></div>
            <div class="color__shade" style="background: rgb(255, 245, 157); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#fff59d</span></div>
            <div class="color__shade" style="background: rgb(255, 241, 118); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#fff176</span></div>
            <div class="color__shade" style="background: rgb(255, 238, 88); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#ffee58</span></div>
            <div class="color__shade" style="background: rgb(255, 235, 59); height: 35.7143px;"><span class="color__strength" style="color: black;">500</span><span class="color__hex" style="color: black;">#ffeb3b</span></div>
            <div class="color__shade" style="background: rgb(253, 216, 53); height: 35.7143px;"><span class="color__strength" style="color: black;">600</span><span class="color__hex" style="color: black;">#fdd835</span></div>
            <div class="color__shade" style="background: rgb(251, 192, 45); height: 35.7143px;"><span class="color__strength" style="color: black;">700</span><span class="color__hex" style="color: black;">#fbc02d</span></div>
            <div class="color__shade" style="background: rgb(249, 168, 37); height: 35.7143px;"><span class="color__strength" style="color: black;">800</span><span class="color__hex" style="color: black;">#f9a825</span></div>
            <div class="color__shade" style="background: rgb(245, 127, 23); height: 35.7143px;"><span class="color__strength" style="color: black;">900</span><span class="color__hex" style="color: black;">#f57f17</span></div>
            <div class="color__shade" style="background: rgb(255, 255, 141); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ffff8d</span></div>
            <div class="color__shade" style="background: rgb(255, 255, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#ffff00</span></div>
            <div class="color__shade" style="background: rgb(255, 234, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#ffea00</span></div>
            <div class="color__shade" style="background: rgb(255, 214, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#ffd600</span></div>
          </div>
          <div class="color active" style="background: rgb(255, 193, 7);">
            <div class="color__shade" style="background: rgb(255, 248, 225); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#fff8e1</span></div>
            <div class="color__shade" style="background: rgb(255, 236, 179); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#ffecb3</span></div>
            <div class="color__shade" style="background: rgb(255, 224, 130); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#ffe082</span></div>
            <div class="color__shade" style="background: rgb(255, 213, 79); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#ffd54f</span></div>
            <div class="color__shade" style="background: rgb(255, 202, 40); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#ffca28</span></div>
            <div class="color__shade" style="background: rgb(255, 193, 7); height: 35.7143px;"><span class="color__strength" style="color: black;">500</span><span class="color__hex" style="color: black;">#ffc107</span></div>
            <div class="color__shade" style="background: rgb(255, 179, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">600</span><span class="color__hex" style="color: black;">#ffb300</span></div>
            <div class="color__shade" style="background: rgb(255, 160, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">700</span><span class="color__hex" style="color: black;">#ffa000</span></div>
            <div class="color__shade" style="background: rgb(255, 143, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">800</span><span class="color__hex" style="color: black;">#ff8f00</span></div>
            <div class="color__shade" style="background: rgb(255, 111, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">900</span><span class="color__hex" style="color: black;">#ff6f00</span></div>
            <div class="color__shade" style="background: rgb(255, 229, 127); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ffe57f</span></div>
            <div class="color__shade" style="background: rgb(255, 215, 64); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#ffd740</span></div>
            <div class="color__shade" style="background: rgb(255, 196, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#ffc400</span></div>
            <div class="color__shade" style="background: rgb(255, 171, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#ffab00</span></div>
          </div>
          <div class="color active" style="background: rgb(255, 152, 0);">
            <div class="color__shade" style="background: rgb(255, 243, 224); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#fff3e0</span></div>
            <div class="color__shade" style="background: rgb(255, 224, 178); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#ffe0b2</span></div>
            <div class="color__shade" style="background: rgb(255, 204, 128); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#ffcc80</span></div>
            <div class="color__shade" style="background: rgb(255, 183, 77); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#ffb74d</span></div>
            <div class="color__shade" style="background: rgb(255, 167, 38); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#ffa726</span></div>
            <div class="color__shade" style="background: rgb(255, 152, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">500</span><span class="color__hex" style="color: black;">#ff9800</span></div>
            <div class="color__shade" style="background: rgb(251, 140, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">600</span><span class="color__hex" style="color: black;">#fb8c00</span></div>
            <div class="color__shade" style="background: rgb(245, 124, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">700</span><span class="color__hex" style="color: black;">#f57c00</span></div>
            <div class="color__shade" style="background: rgb(239, 108, 0); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#ef6c00</span></div>
            <div class="color__shade" style="background: rgb(230, 81, 0); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#e65100</span></div>
            <div class="color__shade" style="background: rgb(255, 209, 128); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ffd180</span></div>
            <div class="color__shade" style="background: rgb(255, 171, 64); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#ffab40</span></div>
            <div class="color__shade" style="background: rgb(255, 145, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A400</span><span class="color__hex" style="color: black;">#ff9100</span></div>
            <div class="color__shade" style="background: rgb(255, 109, 0); height: 35.7143px;"><span class="color__strength" style="color: black;">A700</span><span class="color__hex" style="color: black;">#ff6d00</span></div>
          </div>
          <div class="color active" style="background: rgb(255, 87, 34);">
            <div class="color__shade" style="background: rgb(251, 233, 231); height: 35.7143px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#fbe9e7</span></div>
            <div class="color__shade" style="background: rgb(255, 204, 188); height: 35.7143px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#ffccbc</span></div>
            <div class="color__shade" style="background: rgb(255, 171, 145); height: 35.7143px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#ffab91</span></div>
            <div class="color__shade" style="background: rgb(255, 138, 101); height: 35.7143px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#ff8a65</span></div>
            <div class="color__shade" style="background: rgb(255, 112, 67); height: 35.7143px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#ff7043</span></div>
            <div class="color__shade" style="background: rgb(255, 87, 34); height: 35.7143px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#ff5722</span></div>
            <div class="color__shade" style="background: rgb(244, 81, 30); height: 35.7143px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#f4511e</span></div>
            <div class="color__shade" style="background: rgb(230, 74, 25); height: 35.7143px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#e64a19</span></div>
            <div class="color__shade" style="background: rgb(216, 67, 21); height: 35.7143px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#d84315</span></div>
            <div class="color__shade" style="background: rgb(191, 54, 12); height: 35.7143px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#bf360c</span></div>
            <div class="color__shade" style="background: rgb(255, 158, 128); height: 35.7143px;"><span class="color__strength" style="color: black;">A100</span><span class="color__hex" style="color: black;">#ff9e80</span></div>
            <div class="color__shade" style="background: rgb(255, 110, 64); height: 35.7143px;"><span class="color__strength" style="color: black;">A200</span><span class="color__hex" style="color: black;">#ff6e40</span></div>
            <div class="color__shade" style="background: rgb(255, 61, 0); height: 35.7143px;"><span class="color__strength" style="color: white;">A400</span><span class="color__hex" style="color: white;">#ff3d00</span></div>
            <div class="color__shade" style="background: rgb(221, 44, 0); height: 35.7143px;"><span class="color__strength" style="color: white;">A700</span><span class="color__hex" style="color: white;">#dd2c00</span></div>
          </div>
          <div class="color active" style="background: rgb(121, 85, 72);">
            <div class="color__shade" style="background: rgb(239, 235, 233); height: 50px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#efebe9</span></div>
            <div class="color__shade" style="background: rgb(215, 204, 200); height: 50px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#d7ccc8</span></div>
            <div class="color__shade" style="background: rgb(188, 170, 164); height: 50px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#bcaaa4</span></div>
            <div class="color__shade" style="background: rgb(161, 136, 127); height: 50px;"><span class="color__strength" style="color: white;">300</span><span class="color__hex" style="color: white;">#a1887f</span></div>
            <div class="color__shade" style="background: rgb(141, 110, 99); height: 50px;"><span class="color__strength" style="color: white;">400</span><span class="color__hex" style="color: white;">#8d6e63</span></div>
            <div class="color__shade" style="background: rgb(121, 85, 72); height: 50px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#795548</span></div>
            <div class="color__shade" style="background: rgb(109, 76, 65); height: 50px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#6d4c41</span></div>
            <div class="color__shade" style="background: rgb(93, 64, 55); height: 50px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#5d4037</span></div>
            <div class="color__shade" style="background: rgb(78, 52, 46); height: 50px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#4e342e</span></div>
            <div class="color__shade" style="background: rgb(62, 39, 35); height: 50px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#3e2723</span></div>
          </div>
          <div class="color active" style="background: rgb(158, 158, 158);">
            <div class="color__shade" style="background: rgb(250, 250, 250); height: 50px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#fafafa</span></div>
            <div class="color__shade" style="background: rgb(245, 245, 245); height: 50px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#f5f5f5</span></div>
            <div class="color__shade" style="background: rgb(238, 238, 238); height: 50px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#eeeeee</span></div>
            <div class="color__shade" style="background: rgb(224, 224, 224); height: 50px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#e0e0e0</span></div>
            <div class="color__shade" style="background: rgb(189, 189, 189); height: 50px;"><span class="color__strength" style="color: black;">400</span><span class="color__hex" style="color: black;">#bdbdbd</span></div>
            <div class="color__shade" style="background: rgb(158, 158, 158); height: 50px;"><span class="color__strength" style="color: black;">500</span><span class="color__hex" style="color: black;">#9e9e9e</span></div>
            <div class="color__shade" style="background: rgb(117, 117, 117); height: 50px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#757575</span></div>
            <div class="color__shade" style="background: rgb(97, 97, 97); height: 50px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#616161</span></div>
            <div class="color__shade" style="background: rgb(66, 66, 66); height: 50px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#424242</span></div>
            <div class="color__shade" style="background: rgb(33, 33, 33); height: 50px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#212121</span></div>
          </div>
          <div class="color active" style="background: rgb(96, 125, 139);">
            <div class="color__shade" style="background: rgb(236, 239, 241); height: 50px;"><span class="color__strength" style="color: black;">50</span><span class="color__hex" style="color: black;">#eceff1</span></div>
            <div class="color__shade" style="background: rgb(207, 216, 220); height: 50px;"><span class="color__strength" style="color: black;">100</span><span class="color__hex" style="color: black;">#cfd8dc</span></div>
            <div class="color__shade" style="background: rgb(176, 190, 197); height: 50px;"><span class="color__strength" style="color: black;">200</span><span class="color__hex" style="color: black;">#b0bec5</span></div>
            <div class="color__shade" style="background: rgb(144, 164, 174); height: 50px;"><span class="color__strength" style="color: black;">300</span><span class="color__hex" style="color: black;">#90a4ae</span></div>
            <div class="color__shade" style="background: rgb(120, 144, 156); height: 50px;"><span class="color__strength" style="color: white;">400</span><span class="color__hex" style="color: white;">#78909c</span></div>
            <div class="color__shade" style="background: rgb(96, 125, 139); height: 50px;"><span class="color__strength" style="color: white;">500</span><span class="color__hex" style="color: white;">#607d8b</span></div>
            <div class="color__shade" style="background: rgb(84, 110, 122); height: 50px;"><span class="color__strength" style="color: white;">600</span><span class="color__hex" style="color: white;">#546e7a</span></div>
            <div class="color__shade" style="background: rgb(69, 90, 100); height: 50px;"><span class="color__strength" style="color: white;">700</span><span class="color__hex" style="color: white;">#455a64</span></div>
            <div class="color__shade" style="background: rgb(55, 71, 79); height: 50px;"><span class="color__strength" style="color: white;">800</span><span class="color__hex" style="color: white;">#37474f</span></div>
            <div class="color__shade" style="background: rgb(38, 50, 56); height: 50px;"><span class="color__strength" style="color: white;">900</span><span class="color__hex" style="color: white;">#263238</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>