<script>
  $(function() {
    var heading = '.enrique-content'
    var sketch = '.enrique-sketch-wrapper'
    var spinner = '.spinner'
  
    // SET TRANSPARENT
    anime({
      targets: [spinner, sketch, heading],
      duration: 0,
      opacity: 0
    });
    // SHOW LOADER
    anime({
      targets: spinner,
      duration: 200,
      opacity: 1
    });
  
    $('<div class="enri"></div>que-sketch').ready(function() {
      setTimeout(function() {
        anime({
          targets: spinner,
          easing: 'cubicBezier(.5, .05, .1, .3)',
          duration: 3000,
          opacity: 0
        });
      }
      , 1000)
      anime({
        targets: [sketch, heading],
        easing: 'cubicBezier(.5, .05, .1, .3)',
        delay: anime.stagger(1500),
        duration: 1000,
        opacity: 1,
      });
    });
  })
</script>
<section class="enrique">
  <div class="enrique-sketch-wrapper">
    <form id="sketchForm" target="sketchIframe494102" action="/sketch/preview/?random=0.136692849057525" method="POST">
      <input id="sketchConfig" type="hidden" name="config" value="">
    </form>
    <iframe class="enrique-sketch" src="/sketches/preview" frameborder="0">
    </iframe>
  </div>
  <div class="enrique-content">
    <% if !logged_in? %>
      <div class="enrique-primary">
        <h1 class="enrique-heading">
          Beautifully crafted open source artworks
        </h1>
        <div>
          <h3 class="enrique-paragraph ffht">
            设计师，艺术家，教育工作者和日常编码人员社区。<br>
            我们正在分享创意编程，改进算法设计。
          </h3>
          <div class="enrique-button-group ffht">
            <%= link_to "注册", signup_path, class: "btn ebtn ruby small" %>
          </div>
        </div>
      </div>
    <% end %>
    <% if !logged_in? %>
      <div class="enrique-secondary">
        <p class="m-0 fw7"></p>
      </div>
    <% end %>
  </div>
  <div class="enrique-attribution">
    <a href="#" class="link link-underline-light glow fw6"><%= FFaker::NameJA.name %></a>
  </div>
  <div class="spinner absolute p-2 z-9">
    <div class="sk-chase" style="--sk-size:40px;--sk-color:#fff">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
</section>
<% if !logged_in? %>
  <section class="d-flex align-items-center justify-content-center py-3 px-5 tc bg-gray0">
    <a href="https://github.com/kuyenda/splash" target="_blank" class="d-inline-block link hover-red8 ffpx">
      <ion-icon name="library-outline"></ion-icon>
      帮助构建应用
    </a>
    <div class="d-inline-block pl-3">
      <iframe src="https://ghbtns.com/github-btn.html?user=kuyenda&amp;repo=splash&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe> <iframe src="https://ghbtns.com/github-btn.html?user=kuyenda&amp;repo=splash&amp;type=fork&amp;count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    </div>
  </section>
<% end %>
<section class="wrapper py-md-5 bg-dark0">
  <div class="container md-page">
    <nav class="nav nav-tabs nav-fill">
      <a class="nav-item nav-link" data-toggle="tab" href="#patch">
        新闻
      </a>
      <a class="nav-item nav-link active" data-toggle="tab" href="#patch2">
        开发
      </a>
    </nav>
    <div class="tab-content dark7 overflow-hidden">
      <div class="tab-pane fade ba b--dashed p-4 bg-gray0" id="patch">
        <p class="m-0">请注意这是一个实验版本，我们不会为您保留任何数据。</p>
      </div>
      <div class="tab-pane fade show active p-4 bg-gray0" id="patch2">
        <h1 class="f5">
          补丁
        </h1>
        <ul>
          <li>
            用户页面
          </li>
          <li>
            首页观看随机的作品
          </li>
        </ul>
        <ul>
          <li>
            <a href="/css" class="link link-underline-dark glow">CSS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container md-page mb-md-3 mb-lg-5 ffht b">
    <h2 class="gray">
      <ion-icon name="library-outline"></ion-icon>
      柏林噪声
    </h2>
    <p class="gray9 f4 fw5">Perlin噪声（Perlin noise）指由Ken Perlin发明的自然噪声生成算法。由于Perlin本人的失误，Perlin噪声这个名词现在被同时用于指代两种有一定联系的的噪声生成算法。这两种算法都广泛地应用于计算机图形学，因此人们对这两种算法的称呼存在一定误解。Simplex噪声和分形噪声都曾在严肃学术论文中被单独的称作Perlin噪声。
      对于彩色图像的噪声生成，只要将同样的方法分别应用于各个颜色分量上，再加以合成即可。</p>
  </div>
</section>