<section class="enrique">
  <div class="enrique-sketch-wrapper">
    <form id="sketchForm" target="sketchIframe494102" action="/sketch/preview/?random=0.136692849057525" method="POST">
      <input id="sketchConfig" type="hidden" name="config" value="">
    </form>
    <iframe  class="enrique-sketch" src="/sketches/preview" frameborder="0">
    </iframe>
  </div>
  <div class="enrique-content">
    <div class="enrique-primary">
      <h1 class="enrique-heading">
        <% if logged_in? %>
        <% else %>
          Beautifully crafted open source artworks
        <% end %>
      </h1>
      <div>
        <p class="enrique-paragraph">
          <% if logged_in? %>
          <% else %>
            设计师，艺术家，教育工作者和日常编码人员社区，<br>
            我们正在分享创意编程源代码，参与和改进算法设计
          <% end %>
        </p>
      </div>
      <div class="enrique-button-group">
        <% if !logged_in? %>
          <%= link_to "Sign up", signup_path, class: "btn ebtn ruby small" %>
        <% end %>
      </div>
    </div>
    <div class="enrique-secondary">
      <p class="m-0 fw7">DEMO TOOLS</p>
    </div>
  </div>
  <% if !logged_in? %>
    <div class="enrique-attribution">
      <a href="#" class="link link-underline-light glow"><%= FFaker::NameJA.name %></a>
    </div>
  <% end %>
</section>
<% if !logged_in? %>
  <section class="d-flex align-items-center justify-content-center py-3 px-5 tc bg-gray0">
    <a href="https://github.com/kuyenda/splash" target="_blank" class="d-inline-block link hover-red8 ffpx">
      <ion-icon name="library-outline"></ion-icon>
      帮助构建应用
    </a>
    <div class="d-inline-block pl-3">
      <iframe src="https://ghbtns.com/github-btn.html?user=kuyenda&amp;repo=splash&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe> <iframe src="https://ghbtns.com/github-btn.html?user=kuyenda&amp;repo=splash&amp;type=fork&amp;count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    </div>
  </section>
<% end %>
<section class="wrapper py-md-5 bg-dark0">
  <div class="container md-page">
    <nav class="nav nav-tabs nav-fill">
      <a class="nav-item nav-link active" data-toggle="tab" href="#patch">
        新闻
      </a>
      <a class="nav-item nav-link" data-toggle="tab" href="#patch2">
        开发
      </a>
    </nav>
    <div class="tab-content dark7 overflow-hidden">
      <div class="tab-pane fade show active ba b--dashed p-4 bg-gray0" id="patch">
        <h1 class="f5">
          <%= SecureRandom.hex(2) %>
        </h1>
        <ul>
          <li>更新了主页
            <p>
              可以在首页观看到随机的作品了
            </p>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade p-4 bg-gray0" id="patch2">
        <h1 class="f5">
          <%= SecureRandom.hex(2) %>
        </h1>
        <ul>
          <li>
            <a href="/css" class="link link-underline-dark glow">CSS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container md-page mb-md-3 mb-lg-5 ffpx">
    <h1>精选</h1>
    <p class="gray9 f4 fw5">我们在这个行星上已经生活了数十年，虽然不一定对这个世界的自然规律有深入的理解，但肯定已经习以为常。例如在足球比赛中，我们能欣赏到美妙的曲线任意球。如果足球在空中突然直角转向，我们一定会觉得很“不自然”。又例如，我们有时候能看到上千只鸟集体飞翔，它们并不是乱飞一通，而是按照某种规律组成不断变形的群体。如果它们互相碰撞而掉下来，我们很可能会怀疑它们是否生病，做出这些“不自然”的行为。
      充满好奇心的人们，可以通过学习物理学、化学、生物学等学科去了解各种自然现象。但对于一些程序员、艺术家，他们除了希望对这些原理有所了解，还希望能在作品中模仿这些自然现象。
      模仿、模拟等词汇意味着我们并不是要完整地复制自然世界，而是通过抽象、近似化等方式，获取当中我们认为重要的特性。例如，我们知道水是由水分子所组成，但肉眼看不到这么小的水分子，更常见的是水滴、容器中的水、海洋等。要模仿淋浴花洒的水流动态，我们可考虑以水滴为单位，逐一模拟它们以某初始速度射出，然后受地心引力影响而产生抛物线的移动路径。但要模仿海洋时，我们可能更关注它海面的波浪，而不是海面下巨量溶积的海水。在此情况下，我们可能会模拟海面上一些分布点的垂直运动，做出波浪起伏的效果。</p>
  </div>
</section>