<audio id="player"></audio>
<script>
  $(function() {
    ! function(w) {
      var player = $('#player')
      if (w._splash_radio) {
        w._splash_radio.playlist = [
        ]
        if (player.length > 0) {
          player.css("display", "block")
          setTimeout(() => {w._splash_radio.play(player[0])}, 500);
        }
      }
    }(window)
  })
</script>
<div class="enrique">
  <div class="enrique-content mb-sm-5">
    <div class="enrique-copy">
      <h1 class="enrique-heading" style="font-family: Steradian">Be our Friends</h1>
      <div>
        <p class="enrique-text">
          The community of designers, artists, educators and everyday coders, experimenting on algorithmic design.
        </p>
      </div>
      <div class="enrique-cta">
        <%= link_to "Sign up", signup_path, class: "btn ebtn ruby small" %>
      </div>
    </div>
    <div class="enrique-image" style="height: 380px;">
    </div>
  </div>
  <div class="enrique-menu d-none d-xl-flex">
    <p style="font-weight: 800;font-size: 15px;border-bottom: 2px solid #2e7d32">Hyya, Check the Supports that love Splash</p>
    <p class="enrique-attribution">
      An experimental application powered by zephyr, built via 15%
    </p>
  </div>
  <div class="enrique-press">
    <h1>Tap to continue</h1>
  </div>
</div>
<section class="pt-3 px-5 text-center bg-white">
  <a href="https://github.com/kuyenda/splash" target="_blank" class="d-inline-block mb-2">Splash is an open source platform for code design for everyone。</a>
  <div class="d-inline-block pl-3 mb-3">
    <iframe src="https://ghbtns.com/github-btn.html?user=kuyenda&amp;repo=splash&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe> <iframe src="https://ghbtns.com/github-btn.html?user=kuyenda&amp;repo=splash&amp;type=fork&amp;count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
  </div>
</section>
<div class="wrapper py-md-5" style="background: #fafafa;font-size: 16px;font-family: Steradian">
  <div class="container md-page" style="background-image: url(<%= asset_path('wheat.png') %>);font-family: Proggy, Steradian">
    <ol class="breadcrumb">
      <li>
        Dev Log & News
      </li>
    </ol>
    <h1 class="display-4 font-weight-bold text-white"><%= Time.now.strftime("Patch 0.01-b %L%j") %></h1>
    <ul class="text-white">
      <li>
        updating CSS.
      </li>
    </ul>
  </div>
  <div class="container md-page" style="color: #fff;background:#2d3436">
    <h2>Splash's Working</h2>
    <p>我们在这个行星上已经生活了数十年，虽然不一定对这个世界的自然规律有深入的理解，但肯定已经习以为常。例如在足球比赛中，我们能欣赏到美妙的曲线任意球。如果足球在空中突然直角转向，我们一定会觉得很“不自然”。又例如，我们有时候能看到上千只鸟集体飞翔，它们并不是乱飞一通，而是按照某种规律组成不断变形的群体。如果它们互相碰撞而掉下来，我们很可能会怀疑它们是否生病，做出这些“不自然”的行为。
      充满好奇心的人们，可以通过学习物理学、化学、生物学等学科去了解各种自然现象。但对于一些程序员、艺术家，他们除了希望对这些原理有所了解，还希望能在作品中模仿这些自然现象。
      模仿、模拟等词汇意味着我们并不是要完整地复制自然世界，而是通过抽象、近似化等方式，获取当中我们认为重要的特性。例如，我们知道水是由水分子所组成，但肉眼看不到这么小的水分子，更常见的是水滴、容器中的水、海洋等。要模仿淋浴花洒的水流动态，我们可考虑以水滴为单位，逐一模拟它们以某初始速度射出，然后受地心引力影响而产生抛物线的移动路径。但要模仿海洋时，我们可能更关注它海面的波浪，而不是海面下巨量溶积的海水。在此情况下，我们可能会模拟海面上一些分布点的垂直运动，做出波浪起伏的效果。</p>
    <hr>
    <p>Splash是一个发布创意编程源代码的平台，使用Rails编写并且开源，互联网上有很多与之相似的网站，比如processing的官方社区，openprocessing,等等。这类社区正在日益壮大，未来可能会有更多的人参与和改进算法设计</p>
    <p>
      Splash is a platform for publishing creative programming source code, written in Rails and open source. There are many similar websites on the Internet, such as the official processing community, openprocessing, and so on. This type of community is growing, and more people may participate in and improve algorithm design in the future
    </p>
    <hr>
    <h4>Commuity</h4>
    <ul>
      <li><a href="https://www.openprocessing.org/" class="text-white">openprocessing.org</a></li>
      <li><a href="https://p5js.org/" class="text-white">p5js.org</a></li>
    </ul>
    <h4>Working Stack</h4>
    <ul>
      <li>
        <a href="https://md.maxoxo.design/style/color.html" class="text-white">material design</a>
      </li>
      <li>
        <a href="https://ruby-china.github.io/rails-guides/index.html" class="text-white">ruby on rails</a>
      </li>
    </ul>
  </div>
</div>