<div class="container-fluid">
  <div class="row p-3 p-sm-4 p-md-5 bg-white">
    <div class="col col-lg p-3 p-sm-4 p-md-5">
      <div class="text-center ffserif p-3 p-sm-4 p-md-5 mb-5">
        <h1 class="display-3 text">Mapping Graphics</h1>
        <p>我们正式更名为Mapping Graphics，请您继续保持社区的活跃！</p>
      </div>
      <div class="p-3 p-sm-4 p-md-5 bt bw1 b-dark">
        <h1>欢迎来到图形映射</h1>
        <p class="text2">导言正在撰写</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-8 p-3 p-sm-4 p-md-5 bg-fire7 white">
      <div class="p-3 p-sm-4 p-md-5">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eligendi saepe repudiandae minima tenetur soluta recusandae</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A recusandae dolores voluptas. Fugiat aliquid, quasi a ea veniam, commodi libero minus rerum magni aperiam sequi pariatur, ullam excepturi, nisi molestias.</p>
      </div>
    </div>
    <div class="col col-lg-4 p-3 p-sm-4 p-md-5 bg-gray0 black">
      <div class="p-3 p-sm-4 p-md-5">
        <h1>consectetur assumenda temporibus alias rerum quibusdam eos modi pariatur perspiciatis harum placeat cumque dicta.</h1>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/sections/footer' %>