@mixin et-animation($type, $time) {
    animation-duration: $time;

    @if $type==1 {
        animation-timing-function: cubic-bezier(0, .75, 0, 1);
    }

    @else if $type==2 {
        animation-timing-function: cubic-bezier(.25, .1, 0, 1);
    }

}

@mixin et-transition($type, $time) {
    transition: $time;

    @if $type==1 {
        transition-timing-function: cubic-bezier(0, .75, 0, 1);
    }

    @else if $type==2 {
        transition-timing-function: cubic-bezier(.25, .1, 0, 1);
    }

    @else if $type==3 {
        transition-timing-function: cubic-bezier(1, 0, .5, 1);
    }

}

@mixin btn-color($b, $b2, $t:#fff, $t2:#fff) {
    color: $t;
    background-color: $b;

    &:hover {
        color: $t2;
        background-color: $b2;
    }

}

@mixin link-animation {
    transition: all .1s ease-in;

}