<div class="row sketch-row">
  <div class="col sketch-col" style="height: 500px" id="sketch">
    <%= javascript_include_tag "/assets/14_noisewave.js" %>
  </div>
  <script>
    window._p5jsExample = '/assets/examples/14_noisewave.js';
    window.addEventListener('load', function() {
      examples.init('/assets/processing/14_noisewave.js');
      if (false) {
        var isMobile = window.matchMedia("only screen and (max-width: 480px)");
        document.getElementById('exampleFrame').style.display = 'none';
        if (isMobile.matches) {
          document.getElementById('notMobile-message').style.display = 'none';
          document.getElementById('isMobile-displayButton').style.display = 'block';
        } else {
          document.getElementById('notMobile-message').style.display = 'block';
          document.getElementById('isMobile-displayButton').style.display = 'none';
          document.getElementById('runButton').style.display = 'none';
          document.getElementById('resetButton').style.display = 'none';
          document.getElementById('copyButton').style.display = 'none';
        }
      }
    }, true);
  </script>
</div>