<div class="d-flex justify-content-center align-items-center d116">
  <div class="container">
    <div style="font-family: Hack">
      <h1 >
        Data
      </h1>
    </div>
    <div class="row">
      <div class="col">
        <h2><%= rand 255 %></h2>
        <h2 data-w='{"name": "no_data"}' id="dataff"></h2>
      </div>
    </div>
  </div>
</div>