// CONFIG
$home-hero-background-color: #212121;
$home-hero-background-color-mobile: #212121;
$home-hero-text-color: #fff;

.enrique {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    user-select: none;
    text-align: left;
    color: $home-hero-text-color;

    // 1 - BACKGROUND IMAGE/COLOR
    &:before {
        position: absolute;
        content: '';
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #222;
        // background-image: image-url('hero.jpg');
        background-size: cover;
        background-position: 50% 78%;

        // @include et-transition(2, 1s);
        @include media-breakpoint-down(sm) {
            background-color: $home-hero-background-color-mobile;
        }
    }

    // 1 - BOTTOM LINE
    &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 1px;
        pointer-events: none;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    @include media-breakpoint-down(sm) {
        height: auto;

        &:before {
            background-color: $home-hero-background-color-mobile;
        }
    }

    // 1 - SKETCHED BACKGROUND
    .enrique-sketch-wrapper {}

    .enrique-sketch {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
    }

    // 2 - MAIN CONTENT
    .enrique-content {
        position: relative;
        width: 100%;
        flex-basis: 100%;
        max-width: 70rem;
        margin: 0 auto;
        padding: 100px 2rem;
        padding-bottom: calc(100px - 43px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        order: 0;
        text-align: left;
        z-index: 2;
        // @include et-transition(2, 1s);

        @include media-breakpoint-down(sm) {
            align-items: center;
            padding: 100px 2rem;
        }
    }

    .enrique-primary {
        max-width: 70%;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        padding: 18px;
        @include et-transition(2, 1s);

        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }

    .enrique-secondary {
        // DISABLED
        // height: 100px;
        display: none;
        max-width: 99%;
        margin-left: 18px;
        margin-top: 1.2%;
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 1;
        padding: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        border-radius: 1rem;
        background: #000c;
        @include et-transition(2, 1s);

        @include media-breakpoint-down(sm) {
            max-width: 80%;
            display: none;
            order: -1;
        }
    }

    .enrique-button-group {
        display: block;
        margin: 1rem 0 0 0;

        @include media-breakpoint-down(sm) {
            margin: 1rem 0;
        }
    }

    .enrique-heading {
        margin: 0rem 0 .5rem 0;
        color: $home-hero-text-color;
        line-height: 1;
        font-size: 24px;

        @include media-breakpoint-down(sm) {
            font-size: 1.8rem;
        }
    }

    .enrique-paragraph {
        // DISABLED
        margin: 0;
        margin-left: -4px;
        border-radius: .3rem;
        border-bottom: 4px dashed transparent;
        color: $home-hero-text-color;

        @include et-transition(2, 1s);

        &:hover {
            border-color: #2229;
        }

        @include media-breakpoint-down(sm) {}
    }

    // 3 - ARTWORK LINK
    .enrique-attribution {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 10px 2rem;
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        z-index: 3;

        @include media-breakpoint-down(sm) {
            border-top: 2px dashed rgb(255, 255, 255);
            background: #222;
            font-size: 0.85rem;
            text-align: center;
        }
    }
}