.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    background: $header-background-color;
    font-weight: 500;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, .08), 0 0 1px rgba(1, 0, 0, .1);
    font-family: Steradian;
    z-index: 999;

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-weight: bold;
    }

    @include media-breakpoint-down(lg) {
        height: 40px;
        min-height: 40px;
        position: sticky;
        z-index: 50;
        justify-content: flex-end;
        box-shadow: none;
        background: $header-background-color-mobile;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 15px;
        height: 100%;
        margin-left: 3%;
        background: transparent;
        font-family: Steradian;

        a {
            padding: 0;
            font-weight: 700;
            font-size: 22px;
            color: #34495e;
            line-height: 40px;
            text-decoration: none;
            @include et-transition(2, .5s);
        }

        .version {
            margin-left: 10px;
            font-size: 10px;
            font-weight: 600;
            color: #868b95;
            background-color: #ecf0f6;
            border-radius: 4px;
            padding: 1px 5px;
            position: relative;
            top: -2px;
        }

        @include media-breakpoint-down(lg) {
            padding: 0;

            a {
                color: #fff;
            }

        }

    }

    .navbar-main {
        width: auto;
        height: 100%;
        padding: 0 10px;
        margin-left: 25%;

        .nav-items {
            display: flex;
            height: 100%;

            .nav-item {
                height: 100%;
                margin: 15px .3rem;
                width: auto;

                .nav-link {
                    position: relative;
                    color: #222;
                    height: 30px;
                    padding: 0 15px;
                    margin-left: 40px;
                    line-height: 30px;
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 13px;
                    font-weight: 600;
                    background: #eee5;
                    @include et-transition(1, .5s);

                    &:hover {
                        color: #111;
                        background: #eee;
                    }

                    &.dropdown-link {
                        margin-left: 0;
                    }

                    &.dropdown-link:hover {
                        color: #222;
                    }

                    &:hover:before {
                        width: 50%;
                        height: 3px;
                    }

                    &:active {
                        color: $header-text-color;
                    }

                }

            }

        }

        @include media-breakpoint-down(lg) {
            display: none;
        }

    }

    .navbar-icons {
        display: none;
        margin: 0 30px;
        height: 100%;

        .icons-list {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;

            li {
                margin: 0;
            }

        }

        @include media-breakpoint-down(lg) {
            display: block;
        }

    }

    .navbar-mobile {
        top: 40px;
        height: 1px;
        opacity: 0;
        position: fixed;
        overflow: hidden;
        visibility: hidden;
        @include et-transition(2, .5s);

        @include media-breakpoint-down(lg) {
            width: 100%;
            height: auto;
            opacity: 0;

            &.open {
                width: 100%;
                opacity: 1;
                visibility: visible;
            }

            .mobile-search-form {
                width: 100%;
                padding: 15px 30px;
                position: relative;
                background: $header-background-color-mobile;
                border-radius: 0;

                .mobile-search-input {
                    margin: 0;
                    height: 40px;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 20px;
                    vertical-align: middle;
                    border: none;
                    border-radius: 4px;
                    padding: 10px 10px 11px 42px;
                    background-color: rgba(255, 255, 255, 0.1);
                    color: #fff;
                }

                i {
                    position: absolute;
                    color: #fff;
                    left: 30px;
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                }

            }

            .navbar-mobile-main {
                width: 100%;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 1em;
                background: $header-background-color-mobile;

                a {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 12px 15px;
                    color: #fff;
                }

                .toggle-mobile-nav-dropdown {}

                .mobile-dropdown-nav {
                    border-left: 1px solid rgba(255, 255, 255, 0.1);
                    margin: 15px 0 15px 20px;
                    padding-left: 5px;
                    display: none;
                }

            }

        }

    }

}

.hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: initial;
    z-index: 400;

    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 20px;

        .hamburger-inner {
            position: absolute;
            width: 25px;
            height: 3px;
            border-radius: 4px;
            background-color: $header-text-color;
            top: 50%;
            display: block;
            margin-top: -2px;
            transition-timing-function: cubic-bezier(.55, .055, .675, .19);
            transition-duration: .22s;
            transition-property: transform;

            &:after,
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 25px;
                height: 3px;
                transition-timing-function: ease;
                transition-duration: .15s;
                transition-property: transform;
                border-radius: 4px;
                background-color: $header-text-color
            }

            &::before {
                top: -7px;
                transition: top .1s ease-in .25s, opacity .1s ease-in
            }

            &:after {
                bottom: -7px;
                transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
            }

        }

    }

    &.is-active {
        .hamburger-box {
            .hamburger-inner {
                transition-delay: .12s;
                transition-timing-function: cubic-bezier(.215, .61, .355, 1);
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);

                &:before {
                    top: 0;
                    transition: top .1s ease-out, opacity .1s ease-out .12s;
                    opacity: 0
                }

                &:after {
                    bottom: 0;
                    transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg)
                }

            }

        }

    }

}