$content-max-width: 1140px !default;

.profile {
    &-header {
        &-image {
            max-height: 400px;
        }

        &-content {
            margin: 0 auto;
            padding: 32px 0;
            max-width: $content-max-width;

            @include media-breakpoint-down(md) {
                padding-right: 16px;
                padding-left: 16px;
            }

            @include media-breakpoint-down(xs) {
                padding-right: 24px;
                padding-left: 24px;
            }



        }

        &-content-inner {
            position: relative;
            width: 100%;
        }
    }

    &-profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 128px;
        margin-bottom: 8px;


    }

    &-name {
        font-weight: 700;
        line-height: 1.5;
        word-break: break-all;
        font-size: 22px;
        margin-bottom: 0;
    }

    &-avatar {
        position: absolute;
        top: -18px;
        left: 0;
        cursor: pointer;
        width: 104px;
        height: 104px;
        border-radius: 104px;
    }

    &-action {
        display: flex;
        align-items: center;
    }

    &-biography {
        font-size: 14px;
        padding-left: 128px;
        margin-bottom: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    &-status {
        display: flex;
        align-items: center;
        padding-left: 128px;
        margin-top: 8px;

        &-link {
            margin-right: 8px;
            color: #787c7b;
        }

        &-job,
        &-portfolio,
        &-contact {
            font-size: 14px;
            line-height: 1.5;
            color: #787c7b;
        }

        &-count {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            color: #222;
        }



    }
}

@each $var in (24, 32, 48, 64, 72, 96, 104, 128) {
    .avatar#{$var} {
        display: block;
        overflow: hidden;
        width: #{$var}px;
        height: #{$var}px;
        border-radius: #{$var}px;
    }

}

.social-links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    &:before {
        font-size: 14px;
        margin-right: 8px;
        color: #787c7b;
        content: "・";
    }

    * {
        line-height: 1;

    }

}

.profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto 1fr auto;
    grid-row-gap: 20px;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 20px;

    @include media-breakpoint-down(sm) {
        padding: 16px;
    }

    .profile-primary-navigation {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .profile-secondery-navigation {
        grid-column: 1 / 2;
        grid-row: 2/3;
        min-width: 150px;
    }

    .profile-topics,
    .profile-artworks {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;

        @include media-breakpoint-down(sm) {}
    }

    .profile-topics-group {}
}