<footer class="footer">
  <div class="footer-inner">
    <section class="footer-social">
      <ul>
        <li>
          <h5 class="logo">Splash</h5>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-pinterest"></i>
          </a>
        </li>
      </ul>
    </section>
    <section class="footer-links">
      <div class="footer-link-piece">
        <h3 class="footer-link-title">Products</h3>
        <ul>
          <li><a href="/sketches" class="footer-link">Sketch</a></li>
        </ul>
      </div>
      <div class="footer-link-piece">
        <h3 class="footer-link-title">Get Involved</h3>
        <ul>
          <li>
            <a href="#" class="footer-link">Github</a>
          </li>
        </ul>
      </div>
      <div class="footer-link-piece">
        <h3 class="footer-link-title">Contact</h3>
        <ul>
          <li>
            <a href="#" class="footer-link"><%= FFaker::Internet.safe_email %></a>
          </li>
          <li>
            <a href="#" class="footer-link"><%= FFaker::AddressJA.address %></a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>