<div class="foot container-fluid">
    <h6>Copyright © 2019 Kuyenda<br>
        <!-- All Rights Reserved -->
    </h6>
    <ul class="foot-links">
        <h5 class="mr-3"></h5>
        <li>
            <a href="#" class="mx-1">
                <!-- <img src="/public/icon/twiter.svg" width="32" height="32" /> -->
                <i class="fab fa-twitter" style="font-size:24px;"></i>
            </a>
        </li>
        <li>
            <a href="#" class="mx-1">
                <i class="fab fa-facebook" style="font-size:24px;"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/kuyenda/kuyenda.github.io" target="_blank" class="mx-1">
                <span>
                    <i class="fab fa-github" style="font-size:24px"></i>
                </span>
            </a>
        </li>
    </ul>
</div>