<footer class="footer container-fluid">
  <div class="footer-links-container">
    <div class="footer-link-holder footer-mod">
      <h5 class="logo">Splash</h5>
      <ul class="footer-social">
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-pinterest"></i>
          </a>
        </li>
      </ul>
      <h6 class="copyrights">
        © 2019 Kuyenda
      </h6>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Products</h3>
      <ul class="footer-links">
        <li><a href="/sketches" class="footer-link">Sketch</a></li>
      </ul>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Community</h3>
      <ul class="footer-links">
      </ul>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Us</h3>
      <ul class="footer-links">
        <li>
          <a href="#" class="footer-link">Contact</a>
        </li>
        <li>
          <a href="#" class="footer-link">Get Involved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>