<footer class="footer">
  <div class="footer-inner">
    <section class="footer-social">
      <span>
        © 2019‐2020 Kuyenda | Share | 
      </span>
      <ul>
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-pinterest"></i>
          </a>
        </li>
      </ul>
    </section>
    <section class="footer-links">
      <div class="footer-link-piece">
        <h3 class="footer-link-title">模块</h3>
        <ul>
          <li><a href="/sketches" class="footer-link">草图</a></li>
        </ul>
      </div>
      <div class="footer-link-piece">
        <h3 class="footer-link-title">构建</h3>
        <ul>
          <li>
            <a href="https://github.com/kuyenda/splash" class="footer-link">克隆</a>
          </li>
        </ul>
      </div>
      <div class="footer-link-piece">
        <h3 class="footer-link-title">反馈</h3>
        发送邮件或者发起issue
        <h3 class="f2 m-0"><%= FFaker::Internet.safe_email %></h3>
      </div>
    </section>
  </div>
</footer>