<div class="footer container-fluid">
  <ul class="footer-social">
    <li>
      <a href="#" class="mx-1">
        <i class="fab fa-twitter" style="font-size:24px;"></i>
      </a>
    </li>
    <li>
      <a href="#" class="mx-1">
        <i class="fab fa-facebook" style="font-size:24px;"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/kuyenda/kuyenda.github.io" target="_blank" class="mx-1">
        <span>
          <i class="fab fa-github" style="font-size:24px"></i>
        </span>
      </a>
    </li>
  </ul>
  <div class="footer-links-container">
    <div class="footer-link-holder">
      <h3 class="footer-link-title">What's Element?</h3>
      <ul class="animated footer-links">
        <li><a href="#" class="footer-nav-link">Product</a></li>
        <li><a href="#" class="footer-nav-link">Solutions</a></li>
        <li><a href="#" class="footer-nav-link">Services</a></li>
        <li><a href="#" class="footer-nav-link">DevOps lifecycle</a></li>
        <li><a href="#" class="footer-nav-link">DevOps tools</a></li>
        <li><a href="#" class="footer-nav-link">Is it any good?</a></li>
        <li><a href="#" class="footer-nav-link">Releases</a></li>
        <li><a href="#" class="footer-nav-link">Pricing</a></li>
        <li><a href="#" class="footer-nav-link">Get started</a></li>
      </ul>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Contact</h3>
      <ul class="animated footer-links">
        <li><a href="#" class="footer-nav-link">Web Master</a></li>
        <li><a href="#" class="footer-nav-link">Email</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid footer-holder">
  <h6 class="copyrights-text">
    Copyright © 2019 Kuyenda
  </h6>
</div>