<div class="footer container-fluid">
  <div class="footer-links-container">
    <div class="footer-link-holder footer-mod">
      <h5 class="logo">Untitled Page</h5>
      <ul class="footer-social">
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mx-1">
            <i class="icon ion-logo-ionic"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/kuyenda" target="_blank" class="mx-1">
            <i class="icon ion-logo-github"></i>
          </a>
        </li>
      </ul>
      <h6 class="copyrights">
        © 2019 Kuyenda. All rights reserved.<br>
      </h6>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Guide</h3>
      <ul class="footer-links">
        <li><a href="#" class="footer-link">Help</a></li>
        <li><a href="#" class="footer-link">Community</a></li>
        <li><a href="#" class="footer-link">Get started</a></li>
      </ul>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Domain</h3>
      <ul class="footer-links">
        <li><a href="#" class="footer-link">Development</a></li>
        <li><a href="#" class="footer-link">Technology</a></li>
        <li><a href="#" class="footer-link">Graphics</a></li>
        <li><a href="#" class="footer-link">Visualization</a></li>
        <li><a href="#" class="footer-link">Effects</a></li>
      </ul>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">About</h3>
      <ul class="footer-links">
        <li><a href="#" class="footer-link">Contact</a></li>
        <li><a href="#" class="footer-link">Source On Github</a></li>
      </ul>
    </div>
  </div>
</div>