<div class="footer container-fluid">
  <ul class="footer-social">
    <li>
      <a href="#" class="mx-1">
        <i class="fab fa-twitter" style="font-size:24px;"></i>
      </a>
    </li>
    <li>
      <a href="#" class="mx-1">
        <i class="fab fa-facebook" style="font-size:24px;"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/kuyenda/kuyenda.github.io" target="_blank" class="mx-1">
        <span>
          <i class="fab fa-github" style="font-size:24px"></i>
        </span>
      </a>
    </li>
  </ul>
  <div class="footer-links-container">
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Guide</h3>
      <ul class="footer-links">
        <li><a href="#" class="footer-nav-link">Help</a></li>
        <li><a href="#" class="footer-nav-link">Community</a></li>
        <li><a href="#" class="footer-nav-link">Get started</a></li>
      </ul>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">Domain</h3>
      <ul class="footer-links">
        <li><a href="#" class="footer-nav-link">Development</a></li>
        <li><a href="#" class="footer-nav-link">Technology</a></li>
        <li><a href="#" class="footer-nav-link">Graphics</a></li>
        <li><a href="#" class="footer-nav-link">Visualization</a></li>
        <li><a href="#" class="footer-nav-link">Effects</a></li>
      </ul>
    </div>
    <div class="footer-link-holder">
      <h3 class="footer-link-title">About</h3>
      <ul class="footer-links">
        <li><a href="#" class="footer-nav-link">Contact</a></li>
        <li><a href="#" class="footer-nav-link">Source On Github</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid footer-holder">
  <h6 class="copyrights-text">
    Copyright © 2019 Kuyenda
  </h6>
</div>