<header class="navbar">
  <div class="navbar-logo">
    <p class="logo">element<span>.io</span></p>
  </div>
  <div class="navbar-md">
    <ul class="nav-items">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index">Discover</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lib</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">User</a>
      </li>
    </ul>
  </div>
  <div class="navbar-icons">
    <ul class="icons-list">
      <li class="icon-list" id="mobile-menu-btn">
        <a class="icon-link">
          <div class="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-mobile-menu" id="mobile-menu">
    <ul class="mobile-list">
      <li class="mobile-item">
        <a href="" class="mobile-link">
          Login
        </a>
      </li>
      <li class="mobile-item">
        <a href="" class="mobile-link">
          Sign up
        </a>
      </li>
    </ul>
  </div>
</header>