<ul class="nav">
    <li class="nav-items" style="margin-left: 5rem">
        <a href="#" class="nav-links">
            <span style="padding: 0 5rem;">
                <i class="fas fa-asterisk" style="font-size: 1.2em"></i>
            </span>
        </a>
    </li>
    <li class="nav-items">
        <a href="#" class="nav-links">
            <span>...</span>
        </a>
    </li>
    <li class="nav-items">
        <a href="#" class="nav-links">
            <span>...</span>
        </a>
    </li>
    <li class="nav-items">
        <a class="nav-links">
            <div class="hamburger">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
    </li>
    <div class="nav-tools">
        <div class="nav-tools-picker">
            <div class="nav-tools-picker-btn">
                <input type="radio" id="customRadio" name="customRadio" onclick="btnSwitch(0)">
                <label for="customRadio"></label>
            </div>
            <div class="nav-tools-picker-btn">
                <input type="radio" id="customRadio1" name="customRadio" onclick="btnSwitch(1)">
                <label for="customRadio1"></label>
            </div>
            <div class="nav-tools-picker-btn">
                <input type="radio" id="customRadio2" name="customRadio" onclick="btnSwitch(2);">
                <label for="customRadio2"></label>
            </div>
        </div>
        <div class="nav-tools-search-wrap">
            <form class="nav-tools-search" action="">
                <i class="fas fa-search mx-2"></i>
                <input type="text" placeholder="Search…" maxlength="30">
            </form>
        </div>
    </div>
</ul>
<div class="mobile-menu">
    <ul class="mobile-list">
        <li class="mobile-items">
            <a href="" class="mobile-links">
                ...
            </a>
        </li>
        <li class="mobile-items">
            <a href="" class="mobile-links">
                ...
            </a>
        </li>
    </ul>
</div>