<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/sections/meta' %>
  </head>
  <body>
    <%= render 'layouts/sections/header' %>
    <section id="app">
      <%= yield %>
    </section>
    <%= render 'layouts/sections/footer' if @show_footer %>
  </body>
</html>