<div class="hero">
  <div class="hero-content">
    <div class="row">
      <div class="col-xl-8 col-lg-12 hero-col">
        <h1 class="text-header">Commuity for new developers</h1>
        <div>
          <p class="text-det">
            Learning Data Visualization, Technology,<br>
            Animations and Sharing with others!
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 p-lg-1 hero-col">
        <h2>Now being our Friends🏃</h2>
        <div>
          <p class="text-det">
            Sign up for free
          </p>
        </div>
        <div class="btns mt-md-3 mt-sm-2">
          <a class="btn et-btn primary mx-3" href="#">
            Sign up
          </a>
          <a class="btn et-btn light mx-3" href="#">
            Discover
          </a>
          <a class="btn et-btn dark mx-3" href="#">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background: #dc143c;width: 100%">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="background: #100e17;height: 100vh">
          <p class="text-white font-weight-bold" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);font-size: 36px">Oops, element will comeback soon</p>
        </div>
      </div>
      <div class="carousel-item">
        <div style="background: #1e272d;height: 100vh">
        </div>
      </div>
      <div class="carousel-item">
        <div style="background: #212529;height: 100vh">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>