<div class="enrique">
  <div class="enrique-content">
    <div class="enrique-copy">
      <h1 class="enrique-heading">Untitled Page</h1>
      <div>
        <p class="enrique-text">
          The community of designers, artists, educators and everyday coders, experimenting on algorithmic design.
        </p>
      </div>
      <div class="enrique-cta">
        <%= link_to "Sign up", signup_path, class: "btn ebtn ruby small" %>
      </div>
    </div>
    <div class="enrique-image" style="height: 500px;">
    </div>
  </div>
  <p class="enrique-attribution">
    <span style="color:#ffb142;">Websites by</span>
    <a href="#" style="color:#FFFFFF;">Zephyr</a>
  </p>
</div>
<div class="wrapper py-md-5" style="background: #fafafa">
  <div class="container md-page" style="font-size: 16px">
    <ol class="breadcrumb">
      <li>
        本文简单介绍主要功能和实现，以及相关的技术细节
      </li>
    </ol>
    <h2>Computer Art</h2>
    <p>未标题页面是一个发布创意编程源代码的平台，使用Rails编写并且开源，你可以在互联网上找到与之相似的网站，比如processing的官方社区，openprocessing,等等</p>
    <p>
      Untitled page is a platform for publishing creative programming source code, written in Rails and open source. You can find similar websites on the Internet, such as the official processing community, openprocessing, etc.
    </p>
    <ul>
      <li><a href="https://www.openprocessing.org/">openprocessing.org</a></li>
      <li><a href="https://p5js.org/">p5js.org</a></li>
    </ul>
    <h2>Laboratory</h2>
    <p>这是一个实验性项目，开发者是Zephyr( alias kuyenda )</p>
    <p>This is an experimental project, the developer is Zephyr (alias kuyenda)</p>
    <h2>Material Design</h2>
    <p>采用了Google的材质设计，查看下面的链接了解材质设计</p>
    <p>Using Google's material design, check the link below for material design</p>
    <ul>
      <li>
        <a href="https://md.maxoxo.design/style/color.html">md.maxoxo.design</a>
      </li>
    </ul>
  </div>
</div>