<div class="sketch">
  <audio preload="auto" id='player'></audio>
  <div class="sketch-project" id="sketch"></div>
  <div class="side-screen">
    <div class="side-bg-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M41 22h-3v-8c0-2.21-1.79-4-4-4h-8V7c0-2.76-2.24-5-5-5s-5 2.24-5 5v3H8c-2.21 0-3.98 1.79-3.98 4l-.01 7.6H7c2.98 0 5.4 2.42 5.4 5.4S9.98 32.4 7 32.4H4.01L4 40c0 2.21 1.79 4 4 4h7.6v-3c0-2.98 2.42-5.4 5.4-5.4 2.98 0 5.4 2.42 5.4 5.4v3H34c2.21 0 4-1.79 4-4v-8h3c2.76 0 5-2.24 5-5s-2.24-5-5-5z" /></svg>
      <div class="side-screen-board">
        <h3 style="font-weight: 900">Splash Animation</h3>
        <p style="font-weight: 600">render <span style="color: #90ff90">p5.js</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="para-header container-fluid">
  <h1 class="para-header-lead-text">
    Element.io
  </h1>
  <h5 class="para-header-text">
    Data Visualization, Technology
  </h5 class="para-header-text">
  <h5 class="para-header-text">
    Animations and Learning!
  </h5>
</div>
<div class="charts container-fluid d-flex justify-content-center align-items-center">
  <div class="row w-100 d-flex justify-content-center py-sm-3 py-md-4 mt-4">
    <div class="sub-head">28</div>
    <h1>Members</h1>
  </div>
  <div class="row w-100 d-flex justify-content-center px-5 py-sm-2 py-md-3 mb-4">
    <div class="ct-chart col-auto w-100"></div>
  </div>
</div>
<div class="para container-fluid">
  <div class="section col">
    <div class="sub-head">
      ...
    </div>
    <h1>Usage</h1>
    <h3>Board</h3>
    <p>So what's going on? I am building this page to help people learn popular web technology--- If you have any questions, make comments below</p>
    <h3>Contact</h3>
    <p>cocoon.co.up@gmail.com</p>
  </div>
  <div class="section col">
    <h1>Server Language</h1>
    <p>Best web developing language maybe is Ruby. It has an elegant syntax that is natural to read and easy to write.</p>
    <pre class="codeblock"><code class="language-ruby">search_engines = 
%w[Google Yahoo MSN].map do |engine|
"http://www." + engine.downcase + ".com"
end</code></pre>
  </div>
  <div class="section col">
    <div class="sub-head text-right">Workshop</div>
    <h1 style="overflow: hidden">Get Application</h1>
    <h4>1. Clone repositories</h4>
    <pre class="codeblock"><code class="language-git">git clone https://github.com/kuyenda/kuyenda.github.io.git</code></pre>
    <h4>2. Start a server</h4>
    <pre class="codeblock"><code class="language-python">python -m http.server 3000</code></pre>
  </div>
</div>