<div class="enrique">
  <div class="enrique-content">
    <div class="enrique-copy">
      <h1 class="enrique-heading">All About Creating Interaction</h1>
      <div>
        <p class="enrique-text">
          The community of designers, artists, educators and everyday coders, experimenting on algorithmic design.
        </p>
      </div>
      <div class="enrique-cta">
        <a class="btn ebtn ruby small" href="#">Sign up</a>
      </div>
    </div>
    <div class="enrique-image" style="height: 300px;">
    </div>
  </div>
  <p class="enrique-attribution">
    <span style="color:#ffb142;">Websites by</span>
    <a href="#" style="color:#FFFFFF;">Zephyr</a>
  </p>
</div>
<div class="wrapper mt-md-5">
  <div class="container md-page">
    <ol class="breadcrumb">
      <li>You are here:</li>
      <li>What's untitled page?</li>
    </ol>
    <h2>What's Untitled Page?</h2>
    <p>未标题页面是一个发布创意编程源代码的平台，使用Rails编写并且开源，你可以在互联网上找到与我们相似的网站，比如processing的官方社区，openprocessing,等等</p>
    <p>
      Untitled page is a platform for publishing creative programming source code, written in Rails and open source. You can find websites similar to us on the Internet, such as the processing community, openprocessing, etc.
    </p>
    <ul>
      <li><a href="https://www.openprocessing.org/">openprocessing.org</a></li>
      <li><a href="https://p5js.org/">p5js.org</a></li>
    </ul>
    <h2>Status</h2>
    <p>这是一个实验性项目，我在学习之余编写了此网站，由于技术尚不完善，我正在尽力模仿主流做法，同时遵循最佳实践开发</p>
    <p>This is an experimental project. I wrote this site while I was studying. Because the technology is not perfect, I am trying to imitate mainstream practices and follow best practices.</p>
  </div>
</div>