<script>
ct = $('body').append("<div></div>")
ct.addClass('ct-chart')
new Chartist.Line('.ct-chart', {
    labels: ['Mon', 'Tues', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'],
    series: [
        [1, 1, 1, 2, 1, 1, 1]
    ]
}, {
    high: 5,
    low: 0,
    onlyInteger: true,
    showArea: true,
    ticks: ['One', 'Two', 'Three'],
});
</script>
<h1>hello</h1>