<style>
  .d116 .container { max-width: 1200px;margin-top: 100px; }
  .d116 .row {background: #eceff1;padding: 1rem;margin: 10px 0;}
</style>
<script>
  (
  	() => {
  		var dataScope = $('#dataff')
  		if (dataScope) {
  			var t = $.parseJSON(dataScope.attr('data-w'))
  			dataScope.append(t.name)
  		}
  	}
  )();
</script>
<div class="d-flex justify-content-center align-items-center d116">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>test page</h1>
        <h2><%= 5+1 %></h2>
        <h2 data-w='{"name": "json"}' id="dataff"></h2>
      </div>
    </div>
  </div>
</div>